<% content_for :link do %>
<% end %>
<% content_for :script do %>
<% end %>
<%= simple_form_for @venue, :html => { :class => 'form-horizontal' } do |f| %>
<fieldset>
   <%= f.input :type_id, :collection => VenueType.values[current_merchant.type.value][I18n.locale], :input_html=>{:class => "input-medium"} %>
   <%= f.input :name, :input_html=>{:class => "input-large"} %>
   <%= f.input :description, :as => :text, :input_html => { :rows => 10, :class => "input-large" } %>
   <%= f.input :address, :input_html=>{:class => "input-large"} %>
   <%= f.input :city, :input_html=>{:class => "input-medium"} %>
   <%= f.input :country, :as => :carmen_country, :priority => ['CA'], :input_html=>{:value => 'CA',:disabled => "disabled",:class => "input-medium"} %>
   <%= f.input :state, :as => :subregion, :parent_region => 'CA', :label => 'Province', :input_html=>{:class => "input-large"} %>
   <%= f.input :zipcode, :label => 'Postal Code', :input_html=>{:class => "input-medium"} %>
   <%= f.input :time_zone, :as => :time_zone, :input_html=>{:class => "input-large"} %>
   <%= f.input :phone, :input_html=>{:class => "input-medium"} %>
   <%= f.input :website, :required => false, :input_html=>{:class => "input-large"} %>
   <%= f.input :longitude, :as => :hidden, :input_html => { :value => @venue.longitude } %>
   <%= f.input :latitude, :as => :hidden, :input_html => { :value => @venue.latitude } %>
   <br />
   <div class="form-actions">
      <%= f.button :submit , "#{f.object.new? ? 'Create' : 'Update'}", :class => 'btn btn-primary' %>
      <% if f.object.new? %>
      <%= link_to("Cancel", venues_path, :class => 'btn') %>
      <% else %>
      <%= link_to("Cancel", venue_path(@venue), :class => 'btn') %>
      <% end %>
   </div>
   <!-- /form-actions -->
</fieldset>
<% end %>
