<p id="notice">
	<%= notice %>
</p>
<div class="content row">
	<div class="span19">
		<p>
			<b>Name:</b>
			<%= @venue.name %>
		</p>
		<p>
			<b>Address:</b>
			<%= @venue.address %>
		</p>
		<p>
			<b>City:</b>
			<%= @venue.city %>
		</p>
		<p>
			<b>State:</b>
			<%= @venue.state %>
		</p>
		<p>
			<b>ZipCode:</b>
			<%= @venue.zipcode %>
		</p>
		<p>
			<b>Country:</b>
			<%= @venue.country %>
		</p>
		<p>
			<b>Phone:</b>
			<%= @venue.phone %>
		</p>
		<p>
			<b>Website:</b>
			<%= @venue.website %>
		</p>
		<p>
			<b>Longitude:</b>
			<%= @venue.longitude %>
		</p>
		<p>
			<b>Latitude:</b>
			<%= @venue.latitude %>
		</p>
		<p>
			<b>Authorization Code:</b>
			<%= @venue.auth_code %>
		</p>
		<div>
			<%= link_to 'Update Authorization Code', update_auth_code_venue_path(@venue) %>
		</div>
	</div>
</div>
<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %> 