<% content_for :script do %>
<script type="text/javascript">
	$(document).ready($(function() {
	var notice_msg=$("#notice").html();
	if(notice_msg) {
	Genesis.showWarningMsg(notice_msg,null,true);
	}
	var error_msg=$("#error").html();
	if(error_msg) {
	Genesis.showErrMsg(error_msg,null,true);
	}
	}));
</script>
<script type="text/javascript" src="/javascripts/desktop/src/business/venue.js"></script>
<script type="text/javascript" src="/javascripts/desktop/src/base.js"></script>
<% end %>
<% if flash[:notice] %>
<div style="display:none;" id="notice">
	<p>
		<%= flash[:notice] %>
	</p>
</div>
<% end %>
<% if flash[:error] %>
<div style="display:none;" id="error">
	<p>
		<%= flash[:error] %>
	</p>
</div>
<% end %>
<div class="main">
	<div class="main-inner">
		<div class="container">
			<% if current_merchant.status == :pending %>
			<ul class="pager">
				<li class="previous">
					<%= link_to 'Continue Setup', setup_path %>
				</li>
				<li class="previous">
					<%= link_to 'Back to Venues', venues_path %>
				</li>
			</ul>
			<% end %>
			<div class="row">
				<div class="span9">
					<div class="widget ">
						<div class="widget-header">
							<i class="icon-map-marker"></i>
							<h3>Venue</h3>
						</div>
						<!-- /widget-header -->
						<div class="widget-content">
							<div class="tabbable">
								<ul class="nav nav-tabs">
									<li class="active">
										<a href="#venue" data-toggle="tab">Info</a>
									</li>
								</ul>
								<br>
								<div class="tab-content">
									<div class="tab-pane active" id="venue">
										<div class="not-edit form-horizontal">
											<div class="control-group">
												<label class="control-label"> Name: </label>
												<div id="venue_name" class="controls">
													<%= @venue.name %>
												</div>
											</div>
											<div class="control-group">
												<label class="control-label"> Description: </label>
												<div class="controls">
													<%= @venue.description %>
												</div>
											</div>
											<div class="control-group">
												<label class="control-label"> Address: </label>
												<div id="venue_address" class="controls">
													<%= @venue.address %>
												</div>
											</div>
											<div class="control-group">
												<label class="control-label"> City: </label>
												<div id="venue_city" class="controls">
													<%= @venue.city %>
												</div>
											</div>
											<div class="control-group">
												<label class="control-label"> Province: </label>
												<div id="venue_state" class="controls">
													<%= Carmen::Country.coded(@venue.country).subregions.coded(@venue.state).name %>
												</div>
											</div>
											<div class="control-group">
												<label class="control-label"> Country: </label>
												<div id="venue_country" class="controls">
													<%= Carmen::Country.coded(@venue.country).name %>
												</div>
											</div>
											<div class="control-group">
												<label class="control-label"> Postal Code: </label>
												<div class="controls">
													<%= @venue.zipcode %>
												</div>
											</div>
											<div class="control-group">
												<label class="control-label"> Time Zone: </label>
												<div class="controls">
													<%= @venue.time_zone %>
												</div>
											</div>
											<div class="control-group">
												<label class="control-label"> Phone: </label>
												<div class="controls">
													<%= number_to_phone(@venue.phone) %>
												</div>
											</div>
											<% if not @venue.website.empty? %>
											<div class="control-group">
												<label class="control-label"> Website: </label>
												<div class="controls">
													<%= @venue.website %>
												</div>
											</div>
											<% end %>
											<% if session[:is_admin] %>
											<div class="control-group">
												<label class="control-label"> Longitude: </label>
												<div class="controls">
													<%= @venue.longitude %>
												</div>
											</div>
											<div class="control-group">
												<label class="control-label"> Latitude: </label>
												<div class="controls">
													<%= @venue.latitude %>
												</div>
											</div>
											<div class="control-group">
												<label class="control-label"> Authorization Code: </label>
												<div class="controls">
													<%= @venue.auth_code %>
												</div>
											</div>
											<% end %>
											<%= link_to 'Edit', edit_venue_path(@venue) %><% if session[:is_admin] %> | <%= link_to 'Update Authorization Code', update_auth_code_venue_path(@venue) %><% end %>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /widget-content -->
					</div>
					<!-- /widget -->
				</div>
				<!-- /span9 -->
				<div class="span3">
					<!-- /widget-box -->
					<div class="widget widget-box">
						<div class="widget-header">
							<i class="icon-globe"></i>
							<h3>Location Map</h3>
						</div>
						<!-- /widget-header -->
						<div class="widget-content">
							<div id="gmap" class="" style="height:235px;width:100%;"></div>
						</div>
						<!-- /widget-content -->
					</div>
					<!-- /widget-box -->
				</div>
				<!-- /span3 -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /main-inner -->
</div>
<!-- /main -->