<% content_for :link do %>
<link rel="stylesheet" href="/javascripts/desktop/css/homepage.css"/>
<!--[if lt IE 9]>
<link rel="stylesheet" href="/javascripts/desktop/css/homepage-ie8.css"/>
<![endif]-->
<link rel="stylesheet" href="/javascripts/desktop/css/pages/signin.css"/>
<% end %>
<% content_for :script do %>
<script type="text/javascript" src="/javascripts/desktop/src/signin.js"></script>
<% end %>
<div class="account-container">
   <div class="content clearfix">
      <% if flash[:alert] %>
      <div class="alert alert-error">
         <% flash.each do |name, msg| %>
         <% if name != :timedout %>
         <%= content_tag :div, msg, :id => "flash_#{name}", :style => 'margin:auto;' %>
         <% end %>
         <% end -%>
      </div>
      <% end %>
      <%= simple_form_for resource, :html => {:class => 'form-vertical' }, :url => session_path(resource_name) do |f| %>
      <h2>Login</h2>
      <div class="login-fields">
         <p style="padding-top: 9px;"><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), :id => 'facebookButton' %></p>
      	 <p style="padding-top: 9px;">or</p>
         <%= f.input :email, :placeholder => "Email Address" %>
         <%= f.input :password, :placeholder => "Password" %>
      </div>
      <div class="login-actions">
         <% if devise_mapping.rememberable? %>
         <span class="login-checkbox">
            <!---->
            <%= f.input :remember_me, :as => :boolean, :label => false, :inline_label => true %>
            <!---->
         </span>
         <% end %>
         <%= f.button :submit, "Sign In", :class => 'button btn  btn-warning btn-large' %>
         <div style="margin-top:10px;clear:both;">
            <%= render :partial => "user_devise/shared/links" %>
         </div>
      </div>
      <% end %>
   </div>
</div>