<% content_for :script do %>
<script type="text/javascript">
	$(document).ready($(function() {
	var notice_msg=$("#notice").html();
	if(notice_msg) {
	Genesis.showWarningMsg(notice_msg,null,true);
	}
	var error_msg=$("#error").html();
	if(error_msg) {
	Genesis.showErrMsg(error_msg,null,true);
	}
	}));
</script>
<script type="text/javascript" src="/javascripts/desktop/src/base.js"></script>
<% end %>
<% if flash[:notice] %>
<div style="display:none;" id="notice">
	<p>
		<%= flash[:notice] %>
	</p>
</div>
<% end %>
<% if flash[:error] %>
<div style="display:none;" id="error">
	<p>
		<%= flash[:error] %>
	</p>
</div>
<% end %>
<div class="main">
	<div class="main-inner">
		<div class="container">
			<div class="row">
				<div class="span9">
					<div class="widget">
						<div class="widget-content">
							<div>
								Mobile Tag ID: <%= current_user.virtual_tag.tag_id %>
							</div>
						</div>
					</div>
					<% if not current_user.tags.empty? %>
					<% current_user.tags.each do |tag| %>
					<% if tag.status != :virtual %>
					<div class="widget">
						<div class="widget-content">
							<div>
								Tag ID: <%= tag.tag_id %> (<%= tag.status.upcase %>)
								<%= link_to "x", deregister_tag_path(:id => tag.id), :data => { :confirm => 'Do you want to remove this tag' }, :method => :delete, :class=>"close", :title=>"remove" %>
							</div>
						</div>
					</div>
					<% end %>
					<% end %>
					<% end %>
					<div class="widget">
						<div class="widget-header">
							<i class="icon-tag"></i>
							<h3>Register New Tag</h3>
						</div>
						<div class="widget-content">
							<%= simple_form_for @user_tag, :url => register_tag_path, :html =>
							{ :class => 'form-vertical' } do |f| %>
							<%= f.input :tag_id, :label => false, :placeholder => "Enter Tag ID", :input_html=>{:class => "input-large"} %>
							<%= f.button :submit , "Submit", :class => 'btn btn-primary' %>
							<% end %>
						</div>
					</div>
					<div class="widget widget-table action-table">
						<div class="widget-header">
							<i class="icon-user"></i>
							<h3>Accounts</h3>
						</div>
						<div class="widget-content">
							<table class="table">
								<thead>
									<tr>
										<th>Merchants</th>
										<th class="td-actions">Badge</th>
										<th class="td-actions">Points</th>
										<th class="td-actions">Prize Points</th>
									</tr>
								</thead>
								<tbody>
									<% @customers.each do |customer| %>
									<tr>
										<td>
											<div>
											<%= link_to image_tag(customer.eager_load_merchant.photo.thumbnail_ios_small.url, :style => "width:50px;margin-right:10px;"), business_profile_path(customer.eager_load_merchant) %>
											</div>
											<%= link_to customer.eager_load_merchant.name, business_profile_path(customer.eager_load_merchant) %>
											<%= link_to 'see rewards', business_profile_path(customer.eager_load_merchant) %>
										</td>
										<td class="td-actions">
											<%= image_tag customer.eager_load_badge.eager_load_type.thumbnail_medium_url, :style => "width:40px;" %>
											<%= customer.eager_load_badge.eager_load_type.display_value %>
										</td>
										<td class="td-actions"><%= customer.points %></td>
										<td class="td-actions"><%= customer.prize_points %></td>
									</tr>
									<% end %>
									<% if @customers.length == 0 %>
									<tr>
										<td colspan="4" class="no-data">You have not earned any points yet</td>
									</tr>
									<% end %>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<%= render :partial => "/dashboard/info" %>
			</div>
		</div>
	</div>
</div>