<% content_for :script do %>
<script type="text/javascript">
	$(document).ready($(function() {
	var notice_msg=$("#notice").html();
	if(notice_msg) {
	Genesis.showWarningMsg(notice_msg,null,true);
	}
	}));
</script>
<script type="text/javascript" src="/javascripts/desktop/src/base.js"></script>
<% end %>
<% if flash[:notice] %>
<div style="display:none;" id="notice">
	<p>
		<%= flash[:notice] %>
	</p>
</div>
<% end %>
<div id="main" class="main">
	<div class="main-inner">
		<div class="container">
			<div class="row">
				<div class="span12">
					<div class="widget widget-table action-table">
						<div class="widget-header">
							<i class="icon-user"></i>
							<h3>Members</h3>
						</div>
						<div class="widget-content">
							<div class="paginate">
								<%= will_paginate @customers %>
							</div>
							<table class="table table-striped table-bordered">
								<thead>
									<tr>
										<th>Name</th>
										<th class="td-actions">Email</th>
										<th class="td-actions">Points</th>
										<th class="td-actions">Prize Points</th>
										<th class="td-actions">Joined Date</th>
									</tr>
								</thead>
								<tbody>
									<% @customers.each do |customer| %>
									<tr>
										<% user = @user_id_to_user[@customer_id_to_user_id[customer.id]] %>
										<td><%= user.name %></td>
										<td class="td-actions"><%= user.email %></td>
										<td class="td-actions"><%= customer.points %></td>
										<td class="td-actions"><%= customer.prize_points %></td>
										<td class="td-actions"><%= customer.created_ts.strftime("%b %d, %Y") %></td>
									</tr>
									<% end %>
									<% if @customers.length == 0 %>
									<tr>
										<td colspan="5" class="no-data">You have no customers at the moment.</td>
									</tr>
									<% end %>
								</tbody>
							</table>
							<div class="paginate">
								<%= will_paginate @customers %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>