<!DOCTYPE html>
<html>
   <head>
      <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
   </head>
   <body>
      <style type="text/css">
      </style>
      <div id="yiv2062346305">
         <center id="yui_3_2_0_1_1316453981663533">
            <div style="text-align:left;width:643px;border:#000000 1px solid;background:#fcf8e0;font-family:Arial, Helvetica, sans-serif;font-size:13px;" id="yui_3_2_0_1_1316453981663532">
               <div style="background-color:#222;">
               	  <a rel="nofollow" target="_blank" href="http://www.justformyfriends.com">
               	  <img src="http://photos.justformyfriends.com/logo.png" border="0" alt="justformyfriends.com">
                  </a>
               </div>
               <div style="margin-left:15px;" id="yui_3_2_0_1_1316453981663531">
                  <br>
                  <br>
                  <b>Hi <%= @order.user.name.split(' ')[0] %>,</b>
                  <br>
                  <br>
         		  You have successfully purchased <a href="<%= deal_url(@order.deal)+"?referral_id=#{@order.referral_id}" %>" ><%= @subdeal.title %></a>
         		  <% if @is_gift %>
         		  as a gift for your friend <%= @order.gift_option.to %>
         		  <% end %>
                  <br>
                  When you are ready to use the e-vouchers, you can print the attachment(s).
                  <br>
                  <br>
                  <b>Order Details</b>:
                  <br>
                  Order number: <%= @order.order_id %>
                  <br>
                  Merchant: <%= @order.deal.merchant.name %>
                  <br>
                  Description: <%= @subdeal.title %>
                  <br>
                  Price per item: $<%= @subdeal.discount_price.to_i %>
                  <br>
                  Number purchased: <%= @order.quantity %>
                  <br>
                  <br>
                  <center>
                     Questions or comments? Email us at <a rel="nofollow" ymailto="mailto:help@justformyfriends.com" target="_blank" href="mailto:help@justformyfriends.com">help@justformyfriends.com</a>
                  </center>
                  <br>
                  <center>
                     Thanks from the <a rel="nofollow" target="_blank" href="<%= root_url %>">JustForMyFriends.com</a> team.
                  </center>
                  <br>
                  <br>
               </div>
            </div>
         </center>
      </div>
   </body>
</html>