<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<div>
			<center>
				<div style="text-align:left;width:480px;background:#ffffff;font-family:Arial, Helvetica, sans-serif;font-size:13px;">
					<div style="background:#0A78BE;padding: 10px 20px;border-radius: 0.6em;">
						<a rel="nofollow" target="_blank" href="http://www.getkickbak.com"> <img style="width:100px;" src="http://files.getkickbak.com/v1/logo.png" border="0" alt="getkickbak.com"> </a>
					</div>
					<div style="border:1px solid #CCCCCC;margin-top: 10px;padding: 0 15px 0 15px;">
						<br>
						<br>
						&lt;Input your message here&gt;
						<br>
						<br>
						===============================
						<br>
						<br>
						<%= @sender.name %> really likes <%= @venue.name %> and wants you to give it a try!
						<br>
						<br>
						To thank you for being a <%= @venue.name %> customer, you will receive <%= @challenge.data.referral_points %> reward <%= t('api.point', :count => @challenge.data.referral_points) %> on your first visit.
						<br>
						<br>
						These points can be used to redeem fabulous rewards at <%= @venue.name %>!
						<br>
						<br>
						<div>
							<div>
								<div style="float:left;height:124px;"><img style="max-height:114px;width:114px;margin-right:0.8em;-webkit-border-radius: 0.6em;border-radius: 0.6em;" src="<%= @venue.merchant.photo.thumbnail_ios_medium.url %>"></div>
								<div>
									<div style="font-size:18px;font-weight:bold;"><%= @venue.name %></div>
									<br>
									<%= @venue.address %>
									<br>
									<%= @venue.city %>, <%= @venue.state %>
									<br>
									<%= @venue.zipcode %>
									<br>
									<% if !@venue.website.empty? %>
									<%= @venue.website %>
									<br>
									<% end %>
								</div>
							</div>
							<div style="clear:both;">
								<% google_map_src = "http://maps.googleapis.com/maps/api/staticmap?zoom=15&scale=1&maptype=roadmap&sensor=false&size=392x287&markers=color:red|label:#{@venue.latitude},#{@venue.longitude}&center=#{@venue.latitude},#{@venue.longitude}&title=#{@venue.name}" %>
								<img src="<%= google_map_src %>">
							</div>
						</div>
						<br>
						<br>	
						To complete the referral, all you need to do is scan the QR code in the attachment with your KICKBAK app. 
						<br>
						<br>
					</div>
					<div>
						<br>
						<br>
						<center>
							Haven't downloaded KICKBAK yet? Get it for your <a href="http:/itunes.com/apps/kickbak">iPhone</a>
						</center>
						<br>
						<center>
							Also visit us online at <a rel="nofollow" target="_blank" href="http://getkickbak.com">getkickbak.com</a>
						</center>
						<br>
						<br>
					</div>
				</div>
			</center>
		</div>
	</body>
</html>