<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<div>
			<center>
				<div style="text-align:left;width:480px;background:#ffffff;font-family:Arial, Helvetica, sans-serif;font-size:13px;">
					<div style="background-color:#000000;padding: 10px 20px;">
						<a rel="nofollow" target="_blank" href="http://www.getkickbak.com"> <img style="width:100px;" src="http://files.getkickbak.com/v1/logo.png" border="0" alt="getkickbak.com"> </a>
					</div>
					<div style="border:1px solid #000000; padding: 0 15px 0 15px;">
						<br>
						<br>
						<b>Hi <%= @referrer.name %>,</b>
						<br>
						<br>
						Your friend <%= @referral.name %> is now a customer at <%= @venue.name %>!
						<br>
						<br>
						To thank you for your referral, <%= @venue.name %> has awarded you <%= @record.points %> reward <%= t('api.points', :count => @record.points) %>!
						<br>
						<br>
					</div>
					<div>
						<br>
						<br>
						<center>
							Questions or comments? Email us at <a rel="nofollow" ymailto="mailto:help@getkickbak.com" target="_blank" href="mailto:help@getkickbak.com">help@getkickbak.com</a>
						</center>
						<br>
						<center>
							Thanks from the <a rel="nofollow" target="_blank" href="<%= root_url %>">KICKBAK</a> team.
						</center>
						<br>
						<br>
					</div>
				</div>
			</center>
		</div>
	</body>
</html>