<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<div>
			<center>
				<div style="text-align:left;width:643px;border:#000000 1px solid;background:#ffffff;font-family:Arial, Helvetica, sans-serif;font-size:13px;">
					<div style="background-color:#FFFFFF;">
						<a rel="nofollow" target="_blank" href="http://www.justformyfriends.com"> <img src="http://photos.justformyfriends.com/logo.png" border="0" alt="justformyfriends.com"> </a>
					</div>
					<div style="padding: 0 15px 0 15px;">
						<br>
						<br>
						<% if @ref_name.nil? %>
						<b>Hi,</b>
						<% else %>
						<b>Hi <%= @ref_name.split(' ')[0] %>,</b>
						<% end %>
						<br>
						<br>
						Your friend <%= user.name %> loves <%= @venue.name %> and recommends that you check it out!
						<br>
						<br>
						<%= @venue.address %>
						<br>
						<%= @venue.city %>, <%= @venue.state %>
						<br>
						<%= @venue.zip_code %>
						<br>
=						<%= @venue.phone %>
						<br>
						<br>
						<center>
							Thanks from the <a rel="nofollow" target="_blank" href="<%= root_url %>">KICKBAK</a> team.
						</center>
						<br>
					</div>
				</div>
			</center>
		</div>
	</body>
</html>
