<%= @sender.name %> really likes <%= @venue.name %> and wants you to give it a try!
<br>
<br>
To thank you for being a <%= @venue.name %> customer, you will receive <%= @challenge.data.referral_points %> reward <%= t('api.point', :count => @challenge.data.referral_points) %> on your first visit.
<br>
<br>
These points can be used to redeem fabulous rewards at <%= @venue.name %>!
<br>
<br>
<b><%= @venue.name %></b>
<br>
<%= @venue.address %>
<br>
<%= @venue.city %>, <%= @venue.state %>
<br>
<%= @venue.zipcode %>
<br>
<% if !@venue.website.empty? %>
<a rel="nofollow" target="_blank" href="<%= @venue.website %>"><%= @venue.website %></a>
<br>
<% end %>
<br>
<br>
To complete the referral, all you need to do is scan the QR code in the attachment with your KICKBAK app.
<br>
<br>
Haven't downloaded KICKBAK yet? Get it for your <a href="http:/itunes.com/apps/kickbak">iPhone</a>
<br>
<br>
Also visit us online at <a rel="nofollow" target="_blank" href="http://getkickbak.com">getkickbak.com</a>