<div style="text-align:left;width:643px;border:#000000 1px solid;background:#fcf8e0;font-family:Arial, Helvetica, sans-serif;font-size:13px;" id="yui_3_2_0_1_13164539816631680">
	<div id="yui_3_2_0_1_13164539816631679">
		<br>
		<br>
		<center id="yui_3_2_0_1_13164539816631678">
			<div style="font-size:11px;text-align:left;padding:20px;" id="yui_3_2_0_1_13164539816631677">
				<div style="width:100%;margin-bottom:10px;border-bottom:#c1c1c1 1px solid;font-size:24px;color:#c1c1c1;font-weight:bold;">
					Reward: &nbsp; &nbsp; &nbsp; <%= @reward_code %>
				</div>
				<span style="font-size:20px;"><b>Free C$2 Tim Hortons Gift Card</b></span>
				<br>
				<table style="font-size:13px;margin-top:10px;" id="yui_3_2_0_1_13164539816631676">
					<tbody id="yui_3_2_0_1_13164539816631675">
						<tr>
							<td style="margin-right:10px;" valign="top">
							<b>Redeem at:</b>	
							<br>
							<%= @deal.merchant.name %>
							<br>
							<%= @deal.merchant.address1 %>
							<br>
							<% if @deal.merchant.address2 && !@deal.merchant.address2.empty? %>
							<%= @deal.merchant.address2 %>
							<br>
							<% end %>
							<%= @deal.merchant.city %>, <%= @deal.merchant.state %> <%= @deal.merchant.zipcode %>
							<br>
							<%= @deal.merchant.phone %>
							<br>
							<br>
							<b>Details:</b>
							<br>
							<%= @deal.details %></td>
							<td style="width:150px;margin-right:10px;" valign="top"><img src="<%= @qr_code %>"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<br>
			<center>
				Questions? Email: <a rel="nofollow" ymailto="mailto:info@justformyfriends.com" target="_blank" href="mailto:info@justformyfriends.com">info@justformyfriends.com</a>
			</center>
			<br>
			<center>
				<a rel="nofollow" target="_blank" href="http://www.justformyfriends.com">JustForMyFriends.com</a>
			</center>
			<br>
			<br>
		</center>
	</div>
</div>