<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<div>
			<table cellspacing="0" cellpadding="0" width="480" border="0" align="center" bgcolor="#ffffff" style="font-size:12px;color:#444;font-family:arial,sans-serif">
				<tbody>
					<tr>
						<td align="left">
							<div style="background:#0A78BE;padding: 20px 15px;border-radius:0.6em;">
								<a href="http://www.getkickbak.com" target="_blank"> <img src="http://files.getkickbak.com/v1/logo.png" width="100" border="0" alt="KICKBAK"> </a>
							</div>
						</td>
						<td></td>
					</tr>
					<tr><td height="10"></td><td></td></tr>
					<tr>
						<td style="border-top:1px solid #ccc;padding:10px 15px">
						<br>
						<br>
						&lt;Input your message here&gt;
						<br>
						<br>
						<hr>
						<br>
						<br>
						<%= @sender.name %> has sent you a transfer of <%= @record.points %> reward <%= t('api.point', :count => @record.points) %> that can be used to redeem fabulous rewards at <a rel="nofollow" target="_blank" style="text-decoration: none;" href="<%= business_profile_url(@merchant) %>"><%= @merchant.name %></a>!
						<br>
						<br>
						To deposit this transfer, scan the QR code in the attachment with your KICKBAK app.
						<br>
						<br>
						Expiry Date: <%= @record.expiry_date.strftime("%b %d, %Y") %>
						<br>
						<br>
					</tr>
					<tr>
						<td align="center" style="padding:10px">
						<p>
							Haven't downloaded KICKBAK yet? Get it for your <a rel="nofollow" target="_blank" style="text-decoration: none;" href="http://itunes.com/apps/kickbak">iPhone</a> or <a rel="nofollow" target="_blank" style="text-decoration: none;" href="https://play.google.com/store/apps/details?id=com.getkickbak.kickbak">Android</a>
						</p>
						<p>
							Also visit us online at <a rel="nofollow" target="_blank" style="text-decoration: none;" href="http://getkickbak.com">getkickbak.com</a>
						</p></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
