<% if @merchant.website.empty? %>
<%= @sender.name %> has sent you a transfer of <%= @record.points %> reward <%= t('api.point', :count => @record.points) %> that can be used to redeem fabulous rewards at <%= @merchant.name %>!
<% else %>
<%= @sender.name %> has sent you a transfer of <%= @record.points %> reward <%= t('api.point', :count => @record.points) %> that can be used to redeem fabulous rewards at <a href="<%= @merchant.website %>"><%= @merchant.name %></a>!
<% end %>
<br>
<br>
To deposit this transfer, scan the QR code in the attachment with your KICKBAK app.
<br>
<br>
Expiry Date: <%= @record.expiry_date.strftime("%b %d, %Y") %>
<br>
<br>
Haven't downloaded KICKBAK yet? Get it for your <a rel="nofollow" target="_blank" href="http://itunes.com/apps/kickbak">iPhone</a>
<br>
<br>
Also visit us online at <a rel="nofollow" target="_blank" href="http://getkickbak.com">getkickbak.com</a>