<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<div>
			<center>
				<div style="text-align:left;width:643px;border:#000000 1px solid;background:#fcf8e0;font-family:Arial, Helvetica, sans-serif;font-size:13px;">
					<div style="background-color:#222;">
						<a rel="nofollow" target="_blank" href="http://www.justformyfriends.com"> <img src="http://photos.justformyfriends.com/logo.png" border="0" alt="justformyfriends.com"> </a>
					</div>
					<div style="padding: 0 15px 0 15px;">
						<br>
						<br>
						<b>Hi <%= @user.name.split(' ')[0] %>,</b>
						<br>
						<br>
						You have purchased the following JustForMyFriends vouchers:
						<br>
						<table style="margin-bottom:0px;margin-top:10px;border:1px solid #DDD;background-color:white;width:100%;margin-bottom:18px;border-collapse:collapse;font-size:13px;">
							<thead>
								<tr>
									<th style="padding:10px 10px 9px;border:0 !important;">Vouchers</th>
									<th style="padding:10px 10px 9px;border:0 !important;">Expiration Date</th>
									<th style="padding:10px 10px 9px;border:0 !important;">Action</th>
								</tr>
							</thead>
							<% @coupons.each do |coupon| %>
							<tr>
								<td style="padding:10px 10px 9px;border:0 !important;"><%= coupon.coupon_title %></td>
								<td style="padding:10px 10px 9px;border:0 !important;"> <%= coupon.expiry_date.strftime("%b %d, %Y") %>
								<% days_left = (coupon.expiry_date - Date.today).to_i %>
								<% if days_left <= 5 %> <span style="color:red;"><%= "(#{days_left} days left)" %></span> <% end %> </td>
								<td style="padding:10px 10px 9px;border:0 !important;"><a target="_blank" href="<%= Common.generate_full_voucher_file_path(@user.id,"#{coupon.coupon_id}.pdf") %>" >Print</a></td>
							</tr>
							<% end %>
						</table>
						<br>
						<center>
							Questions or comments? Email us at <a rel="nofollow" ymailto="mailto:help@justformyfriends.com" target="_blank" href="mailto:help@justformyfriends.com">help@justformyfriends.com</a>
						</center>
						<br>
						<center>
							Thanks from the <a rel="nofollow" target="_blank" href="<%= root_url %>">JustForMyFriends.com</a> team.
						</center>
						<br>
						<br>
					</div>
				</div>
			</center>
		</div>
	</body>
</html>