<% content_for :link do %>
<% end %>
<% content_for :script do %>
<script type="text/javascript">
	$(document).ready($(function() {
	var notice_msg=$("#notice").html();
	if(notice_msg) {
	Genesis.showWarningMsg(notice_msg,null,true);
	}
	var error_msg=$("#error").html();
	if(error_msg) {
	Genesis.showErrMsg(error_msg,null,true);
	}
	}));
</script>
<script type="text/javascript" src="/javascripts/desktop/src/base.js"></script>
<% end %>
<% if flash[:notice] %>
<div style="display:none;" id="notice">
	<p>
		<%= flash[:notice] %>
	</p>
</div>
<% end %>
<% if flash[:error] %>
<div style="display:none;" id="error">
	<p>
		<%= flash[:error] %>
	</p>
</div>
<% end %>
<div class="main">
   <div class="main-inner">
      <div class="container">
         <div class="row">
            <div class="span6">
               <div class="widget widget-table action-table">
                  <div class="widget-header">
                     <i class="icon-picture"></i>
                     <h3>Promotional Stuff</h3>
                  </div>
                  <div class="widget-content">
                     <table class="table table-striped table-bordered">
                        <tbody>
                           <tr>
                              <td>Poster</td>
                              <td class="td-actions">
                              <!-- -->
                              <%= link_to("http://files.getkickbak.com/poster.jpg", :class=>"btn btn-small btn-warning", :title=>"print" ) do %>
                              <!-- -->
                              <i class="btn-icon-only icon-print"></i>
                              <!-- -->
                              <% end %>
                              <!-- -->
                              </td>
                           </tr>
                           <tr>
                              <td>Pamphlet</td>
                              <td class="td-actions">
                              <% if current_merchant.sign_up_code.nil? %>
                              	<!-- -->
                              	<%= link_to(create_sign_up_code_path, :class=>"btn btn-small btn-warning", :title=>"print" ) do %>
                              	<!-- -->
                              	<i class="btn-icon-only icon-print"></i>
                              	<!-- -->
                              	<% end %>
                              <% else %>
                              	<%= link_to(update_sign_up_code_path, :class=>"btn btn-small btn-warning", :title=>"update" ) do %>
                              	<!-- -->
                              	<i class="btn-icon-only icon-refresh"></i>
                                <!-- -->
                              	<% end %>
                              	<!-- -->
                              	<%= link_to(::Common.generate_full_merchant_qr_code_image_file_path(current_merchant.id,current_merchant.sign_up_code.qr_code_img), :class=>"btn btn-small btn-warning", :title=>"print" ) do %>
                              	<!-- -->
                              	<i class="btn-icon-only icon-print"></i>
                              	<!-- -->
                              	<% end %>
                              	<!-- -->
                              <% end %>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            <div class="span6">
               <div class="widget widget-table action-table">
                  <div class="widget-header">
                     <i class="icon-paper-clip"></i>
                     <h3>Table Toppers</h3>
                  </div>
                  <div class="widget-content">
                     <table class="table table-striped table-bordered">
                        <tbody>
                           <% @venues.each do |venue| %>
                           <tr>
                              <td><%= venue.name %></td>
                              <td class="td-actions">
                              <!-- -->
                              <%= link_to(::Common.generate_full_merchant_qr_code_image_file_path(current_merchant.id,venue.check_in_code.qr_code_img), :class => "btn btn-small btn-warning", :title=>"print" ) do %>
                              <!-- -->
                              <i class="btn-icon-only icon-print"></i>
                              <!-- -->
                              <% end %>
                              <!-- -->
                              </td>
                           </tr>
                           <% end %>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
