<%= simple_form_for [:sales, @merchant] do |f| %>
	<% if @merchant.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@merchant.errors.count, "error") %> prohibited this merchant from being saved:</h2>

		<ul>
			<% @merchant.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<%= f.input :name %>
	<%= f.input :email %>
	<%= f.input :account_first_name %>
	<%= f.input :account_last_name %>
	<%= f.input :password %>
	<%= f.input :password_confirmation %>
	<%= f.input :phone %>
	<%= f.input :status %>
	<%= f.button :submit %>
<% end %>
