<%= render 'layouts/business/tabs' %>
<%= form_tag rewards_path, :class => 'form-stacked marchant-form', :method => 'get' do %>
<div>
	<%= label_tag do  %> <h3>Enter Rewards Code</h3> <% end %>
	<%= text_field_tag :search, params[:search], :class => 'xxlarge' %>
	<%= submit_tag "Lookup Rewards", :type => 'submit', :name => nil, :style => 'line-height:34px;', :class => 'btn large right' %>
	<% if @reward %>
	<%= label_tag do %> <h3 style='margin-top:20px;'>Results</h3> <% end %>
	<table style="margin-bottom:0px;margin-top:5px;">
		<thead>
			<tr>
				<th class="green ">Reward#</th>
				<th class="green ">Status</th>
				<th class="green ">Redemption Date</th>
				<th class="green ">Action</th>
			</tr>
		</thead>
		<tr>
			<td class=""><%= @reward.reward_code %></td>
			<% if @reward.redeemed %>
			<td class="">Redeemed</td>
			<% elsif @reward.expiry_date.to_date >= Date.today %>
			<td class="">Not Redeemed</td>
			<% else %>
			<td class="">Expired</td>
			<% end %>
			<td class=""><%= @reward.redeemed ? @reward.update_ts.strftime("%b %d, %Y") : "Not Yet" %></td>
			<% if @reward.redeemed? || @reward.expiry_date.to_date < Date.today %> <td class="">Nothing</td>
			<% else %> <td class=""><%= link_to 'Redeem', redeem_reward_url(@reward) %></td>
			<% end %>
		</tr>
	</table>
	<% elsif defined? @reward %> <h3 style="text-align:center;margin-top:100px;"> No Vouchers were found </h3>
	<% end %>
</div>
<% end %>