<h1>Listing Rewards</h1>

<div class="content row">
	<% @venues.each do |venue| %>
	<div><%= venue.name %></div>
	<% venue.purchase_rewards.each do |purchase_reward| %>
	<div>
		<div><%= link_to purchase_reward.title, purchase_reward_path(purchase_reward) %></div>
		<div><%= link_to 'Edit', edit_purchase_reward_path(purchase_reward) %></div>
		<div><%= link_to 'Destroy', purchase_reward_path(purchase_reward), :confirm => 'Are you sure?', :method => :delete %></div>
	</div>
	<% end %>
	<% end %>
</div>

<%= link_to 'New Reward', new_purchase_reward_path %>
<% if current_merchant.status == :pending %>
 | <%= link_to 'Continue Setup', setup_path %>
<% end %>
