<p id="notice"><%= notice %></p>

<div class="content row">
<p>
  <b>Title</b>
  <%= @purchase_reward.title %>
</p>

<p>
  <b>Points:</b>
  <%= @purchase_reward.points %>
</p>
</div>

<%= link_to 'Edit', edit_purchase_reward_path(@purchase_reward) %> |
<%= link_to 'Back', purchase_rewards_path %>
