<% content_for :link do %>
<% end %>

<%= simple_form_for @user, :url => update_account_path, :html => { :class => 'form-horizontal' } do |f| %>
<fieldset>
   <%= f.input :name, :input_html=>{:class => "input-xxlarge"} %>
   <%= f.input :email, :input_html=>{:class => "input-xxlarge"} %>
   <%= f.input :phone, :input_html=>{:class => "input-xxlarge"} %>
   <%= f.simple_fields_for @user.profile do |builder| %>
   <%= render "profile", :f => builder %>
   <% end %>
   <%= f.input :current_password, :required => false, :input_html=>{:class => "input-medium"} %>
   <%= f.input :password, :label => "New password", :required => false, :input_html=>{:class => "input-medium"} %>
   <%= f.input :password_confirmation, :label => "New password confirmation", :required => false, :input_html=>{:class => "input-medium"} %>
   <br />
   <div class="form-actions">
      <%= f.button :submit , "Update", :class => 'btn btn-primary' %>
      <%= link_to("Cancel", account_path, :class => 'btn') %>
   </div>
   <!-- /form-actions -->
</fieldset>
<% end %>