<% content_for :link do %>
<% end %>
<% content_for :script do %>
<script type="text/javascript">
	$(document).ready($(function() {
	var msg=$("#notice").html();
	if(msg) {
	Genesis.showWarningMsg(msg,null,true);
	}
	var error_msg=$("#error").html();
	if(error_msg) {
	Genesis.showErrMsg(error_msg,null,true);
	}
	}));
</script>
<script type="text/javascript" src="/javascripts/desktop/src/base.js"></script>
<% end %>
<% if flash[:notice] %>
<div style="display:none;" id="notice">
	<p>
		<%= flash[:notice] %>
	</p>
</div>
<% end %>
<% if flash[:error] %>
<div style="display:none;" id="error">
	<p>
		<%= flash[:error] %>
	</p>
</div>
<% end %>
<div class="main">
	<div class="main-inner">
		<div class="container">
			<div class="row">
				<div class="span3">
					<div class="widget">
						<div class="widget-content">
							<%= render 'menu' %>
						</div>
					</div>
				</div>
				<div class="span9">
					<div class="widget">
						<div class="widget-content">
							<h3>Connect with Facebook</h3>
							<div style="margin:20px 0 10px 0;">
								<p>
									<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /main-inner -->
</div>
<!-- /main -->
<!--
<%= link_to 'Back', account_path %>
-->
