<% content_for :link do %>
<link rel="stylesheet" href="/javascripts/desktop/css/pages/facebook_settings.css"/>
<% end %>
<% content_for :script do %>
<script type="text/javascript">
	$(document).ready($(function() {
	var msg=$("#notice").html();
	if(msg) {
	Genesis.showWarningMsg(msg,null,true);
	}
	var error_msg=$("#error").html();
	if(error_msg) {
	Genesis.showErrMsg(error_msg,null,true);
	}
	}));
</script>
<script type="text/javascript" src="/javascripts/desktop/src/base.js"></script>
<script type="text/javascript" src="/javascripts/desktop/src/facebook_settings.js"></script>
<% end %>
<% if flash[:notice] %>
<div style="display:none;" id="notice">
	<p>
		<%= flash[:notice] %>
	</p>
</div>
<% end %>
<% if flash[:error] %>
<div style="display:none;" id="error">
	<p>
		<%= flash[:error] %>
	</p>
</div>
<% end %>
<div id="main" class="main">
	<div class="main-inner">
		<div class="container">
			<div class="row">
				<div class="span3">
					<div class="widget">
						<div class="widget-content">
							<%= render 'menu' %>
						</div>
					</div>
				</div>
				<div class="span9">
					<div class="widget">
						<div class="widget-content">
							<h3>Share on Facebook</h3>
							<div style="padding:20px 0 10px 0;">
								<div class="facebook-connect-promo" style="padding: 10px; margin-bottom: 20px;">
									<span class="bonus-points">Earn bonus reward points</span>
									<p>
										By posting your KICKBAK activities every time you visit your favorite locations, you will earn extra rewards.
									</p>
									<ul>
										<li>
											Get bonus points for every 3 check-ins
										</li>
										<li>
											Get bonus points for every badge promotion you share
										</li>
										<li>
											Get bonus points for every reward you share
										</li>
									</ul>
								</div>
								<% if current_user.facebook_auth.nil?%>
								<div>You are not currently connected to Facebook.</div>
								<div class="account_connect">
									<%= link_to "Connect with Facebook", user_omniauth_authorize_path(:facebook), :id => 'facebookButton' %>
								</div>
								<% else %>
								<% if !@has_permission %>
								<div><b>To earn bonus points</b>, you have to grant us permission to post on Facebook.</div>
								<div class="account_connect">
									<%= link_to "Grant Permission to Post", user_omniauth_authorize_path(:facebook), :id => 'facebookButton' %>
								</div>
								<% elsif !@visible_to_friends %>
								<div><b>To earn bonus points</b>, you must allow us to post to your friends on Facebook</div>
								<div class="account_connect">
									<%= link_to "Share with Friends", "https://www.facebook.com/appcenter/my", :target => "_blank", :id => 'facebookButton' %>
								</div>
								<% else %>
								<div class="account_disconnect">
									<img class="" src="http://files.getkickbak.com/v1/facebook.png"/>
									<p>
										<%= link_to 'disconnect', facebook_disconnect_path, :method => :post %>
									</p>
								</div>
								<% end %>
								<% end %>
								<div class="facebook_share_settings">
									<table id="facebook_share">
										<tr>
											<td> <%= check_box_tag 'checkins', "", current_user.facebook_share_settings.checkins %> </td>
											<td> Automatically check in when you make a visit </td>
										</tr>
										<tr>
											<td> <%= check_box_tag 'badge_promotions', "", current_user.facebook_share_settings.badge_promotions %> </td>
											<td> Automatically share your badge promotion with your friends </td>
										</tr>
										<tr>
											<td> <%= check_box_tag 'rewards', "", current_user.facebook_share_settings.rewards %> </td>
											<td> Automatically share your rewards with your friends when you redeem </td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /main-inner -->
</div>
<!-- /main -->
<!--
<%= link_to 'Back', account_path %>
-->
