<%= simple_form_for @reward_model, :url => update_reward_model_path, :html => { :class => 'form-horizontal' } do |f| %>
<fieldset>
   <%= f.input :rebate_rate, :input_html=>{:class => "input-medium"} %>
   <%= f.input :prize_rebate_rate, :input_html=>{:class => "input-medium"}%>
   <%= f.input :signup_amount, :input_html=>{:class => "input-medium"}%>
   <%= f.input :signup_points, :input_html=>{:class => "input-medium"} %>
   <%= f.input :price_per_point, :input_html => { :disabled => 'disabled', :class => 'input-medium' } %>
   <%= f.input :price_per_prize_point, :input_html => { :disabled => 'disabled', :class => 'input-medium' } %>
   <br />
   <div class="form-actions">
      <%= f.button :submit , "Save", :class => 'btn btn-primary' %>
      <%= link_to("Cancel", dashboard_path, :class => 'btn') %>
   </div>
   <!-- /form-actions -->
</fieldset>
<% end %>