<h1>Reward Model</h1>
<div class="content row">
		<%= simple_form_for @reward_model, :url => update_reward_model_path do |f| %>
		<%= f.input :rebate_rate %>
		<%= f.input :prize_rebate_rate %>
		<%= f.input :price_per_point, :input_html => { :disabled => 'disabled' } %>
		<%= f.submit %>
		<% end %>
</div>

<% if current_merchant.status == :pending && current_merchant.reward_model %>
<%= link_to 'Continue Setup', setup_path %>
<% end %>