<div class="fields" >
	<p>Item <%= link_to_remove_fields "remove", f %></p>
	<%= f.input :description, :input_html => { :class => 'input-medium' } %>
	<%= f.input :quantity, :input_html => { :class => 'input-medium' } %>
	<%= f.input :price, :input_html => { :class => 'input-medium' } %>
	<%= f.input :amount, :input_html => { :class => 'input-medium' } %>
</div>