<% content_for :script do %>
<script type="text/javascript">
	$(document).ready($(function() {
	var notice_msg=$("#notice").html();
	if(notice_msg) {
	Genesis.showWarningMsg(notice_msg,null,true);
	}
	}));
</script>
<script type="text/javascript" src="/javascripts/desktop/src/base.js"></script>
<% end %>
<% if flash[:notice] %>
<div style="display:none;" id="notice">
	<p>
		<%= flash[:notice] %>
	</p>
</div>
<% end %>
<div id="main" class="main">
	<div class="main-inner">
		<div class="container">
			<div class="row">
				<div class="span1"></div>
				<div class="span10">
					<div class="widget ">
						<div class="widget-header">
							<i class="icon-money"></i>
							<h3>Merchant</h3>
						</div>
						<!-- /widget-header -->
						<div class="widget-content">
							<div class="tabbable">
								<ul class="nav nav-tabs">
									<li>
										<a href="<%= merchant_path(@merchant) %>">Info</a>
									</li>
									<li>
										<a href="<%= payment_subscription_merchant_path(@merchant) %>">Payment Subscription</a>
									</li>
									<li class="active">
										<a href="<%= merchant_invoices_path(@merchant) %>">Invoices</a>
									</li>
									<li>
										<a href="<%= merchant_devices_path(@merchant) %>">Devices</a>
									</li>
								</ul>
								<br>
								<div class="tab-content">
									<div class="tab-pane active" id="invoice">
										<div class="not-edit form-horizontal">
											<% if not @invoice.paid %>
											<div style="margin: 0 0 10px 0;">
												<%= link_to 'Pay', pay_merchant_invoice_path(@merchant,@invoice), :method => :post, :class=>"btn btn-small" %>
											</div>
											<% end %>
											<div class="control-group">
												<label class="control-label"> Billing Date: </label>
												<div class="controls">
													<%= @invoice.start_date.strftime("%b %d, %Y") %>
												</div>
											</div>
											<div class="control-group">
												<label class="control-label"> Invoice #: </label>
												<div class="controls">
													<%= @invoice.invoice_id %>
												</div>
											</div>
											<% if @invoice.type == :recurring %>
											<div class="control-group">
												<label class="control-label"> Balance Forward: </label>
												<div class="controls">
													$<%= "%0.2f" % @invoice.balance %>
												</div>
											</div>
											<% end %>
											<div class="control-group">
												<label class="control-label"> Charges: </label>
												<div class="controls">
													$<%= "%0.2f" % @invoice.charges %>
												</div>
											</div>
											<% if @invoice.proration > 0.00 %>
											<div class="control-group">
												<label class="control-label"> Praration: </label>
												<div class="controls">
													$<%= "%0.2f" % @invoice.proration %>
												</div>
											</div>
											<% end %>
											<div class="control-group">
												<label class="control-label"> Tax: </label>
												<div class="controls">
													$<%= "%0.2f" % @invoice.tax %>
												</div>
											</div>
											<div class="control-group">
												<label class="control-label"> Amount: </label>
												<div class="controls">
													$<%= "%0.2f" % @invoice.amount %>
												</div>
											</div>
											<div class="control-group">
												<label class="control-label"> Amount Due: </label>
												<div class="controls">
													$<%= "%0.2f" % (!@invoice.paid ? @invoice.amount : 0.00) %>
												</div>
											</div>
											<br>
											<h4>Summary</h4>
											<br>
											<table class="table">
												<thead>
													<tr>
														<th>Description</th>
														<th class="td-actions">Quantity</th>
														<th class="td-actions">Amount</th>
													</tr>
												</thead>
												<tfoot>
													<tr>
														<th></th>
														<th>Subtotal:</th>
														<th>$<%= "%0.2f" % @invoice.charges %></th>
													</tr>
												</tfoot>
												<tbody>
													<% @invoice.items.each do |item| %>
													<tr>
														<td><%= item.description %></td>
														<td class="td-actions"><%= item.quantity %></td>
														<td class="td-actions">$<%= "%0.2f" % item.amount %></td>
													</tr>
													<% end %>
												</tbody>
											</table>
											<%= link_to 'Back', merchant_invoices_path(@merchant) %>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /widget-content -->
					</div>
					<!-- /widget -->
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /main-inner -->
</div>
<!-- /main -->