<%= simple_form_for @merchant, :html => { :class => 'form-horizontal' } do |f| %>
<fieldset>
	<%= f.input :type_id, :collection => MerchantType.values[I18n.locale], :input_html => { :class => 'input-medium' } %>
	<%= f.input :visit_frequency_id, :collection => VisitFrequencyType.values[I18n.locale], :input_html => { :class => 'input-medium' } %>
	<%= f.input :name, :input_html=>{:class => "input-xxlarge"} %>
	<%= f.input :description, :as => :text, :input_html=>{ :rows => 10, :class => "input-xxlarge" } %>
	<%= f.input :email, :input_html=>{:class => "input-xxlarge"} %>
	<%= f.input :account_first_name, :input_html=>{:class => "input-xxlarge"} %>
	<%= f.input :account_last_name, :input_html=>{:class => "input-xxlarge"} %>
	<%= f.input :password, :input_html=>{:class => "input-medium"} %>
	<%= f.input :password_confirmation, :input_html=>{:class => "input-medium"} %>
	<%= f.input :role, :collection => Merchant::Roles, :input_html => { :class => 'input-medium' } %>
	<%= f.input :phone, :input_html=>{:class => "input-medium"} %>
	<%= f.input :website, :input_html=>{:class => "input-xxlarge"}, :required => false %>
	<%= f.input :facebook_page_id, :input_html=>{:class => "input-xxlarge"}, :required => false %>
	<br />
	<div class="form-actions">
		<%= f.button :submit , 'Create', :class => 'btn btn-primary' %>
		<%= link_to("Cancel", merchants_path, :class => 'btn') %>
	</div>
	<!-- /form-actions -->
</fieldset>
<% end %>