<%= simple_form_for @features_config, :url => update_features_config_merchant_path(@merchant), :html => { :class => 'form-vertical' } do |f| %>
<fieldset>
	<legend>
		Main Settings
	</legend>
	<%= f.input :enable_prizes, :as => :boolean, :label => false, :inline_label => true %>
</fieldset>
<fieldset>
	<legend>
		POS Settings
	</legend>
	<%= f.input :enable_pos, :as => :boolean, :label => false, :inline_label => true %>
	<div id="pos_settings_group" class="group" style="<%= @features_config.enable_pos ? 'display : block;' : 'display : none;'%>">
		<%= f.input :enable_sku_data_upload, :as => :boolean, :label => false, :inline_label => true %>
		<%= f.simple_fields_for :receipt_filter do |builder| %>
		<fieldset>
			<legend>
				Receipt Filter
			</legend>
			<%= builder.input :min_line_length, :input_html => { :class => 'input-medium' } %>
			<%= builder.input :grand_total, :as => :text, :input_html => { :rows => 5, :class => 'input-xlarge' } %>
			<%= builder.input :subtotal, :as => :text, :input_html => { :rows => 5, :class => 'input-xlarge' } %>
			<%= builder.input :item, :as => :text, :input_html => { :rows => 5, :class => 'input-xlarge' } %>
			<%= builder.input :table, :as => :text, :input_html => { :rows => 5, :class => 'input-xlarge' } %>
			<%= builder.input :items_purchased, :as => :text, :input_html => { :rows => 5, :class => 'input-xlarge' } %>
		</fieldset>
		<% end %>
	</div>
</fieldset>
<br />
<div class="form-actions">
	<%= f.button :submit , 'Update', :class => 'btn btn-primary' %>
	<%= link_to("Cancel", merchant_path(@merchant), :class => 'btn') %>
</div>
<% end %> 