<% content_for :script do %>
<script type="text/javascript">
	$(document).ready($(function() {
	var notice_msg=$("#notice").html();
	if(notice_msg) {
	Genesis.showWarningMsg(notice_msg,null,true);
	}
	}));
</script>
<script type="text/javascript" src="/javascripts/desktop/src/base.js"></script>
<% end %>
<% if flash[:notice] %>
<div style="display:none;" id="notice">
	<p>
		<%= flash[:notice] %>
	</p>
</div>
<% end %>
<div id="main" class="main">
	<div class="main-inner">
		<div class="container">
			<div class="row">
				<div class="span1"></div>
				<div class="span10">
					<div class="widget ">
						<div class="widget-header">
							<i class="icon-money"></i>
							<h3>Merchant</h3>
						</div>
						<!-- /widget-header -->
						<div class="widget-content">
							<div class="tabbable">
								<ul class="nav nav-tabs">
									<li class="active">
										<a href="<%= merchant_path(@merchant) %>">Info</a>
									</li>
									<li>
										<a href="<%= payment_subscription_merchant_path(@merchant) %>">Payment Subscription</a>
									</li>
									<li>
										<a href="<%= merchant_invoices_path(@merchant) %>">Invoices</a>
									</li>
									<li>
										<a href="<%= merchant_devices_path(@merchant) %>">Devices</a>
									</li>
								</ul>
								<br>
								<div class="tab-content">
									<div class="tab-pane active" id="info">
										<div class="not-edit form-horizontal">
											<div class="control-group">
												<label class="control-label"> Name: </label>
												<div class="controls">
													<%= @merchant.name %>
												</div>
											</div>
											<div class="control-group">
												<label class="control-label"> Email: </label>
												<div class="controls">
													<%= @merchant.email %>
												</div>
											</div>
											<div class="control-group">
												<label class="control-label"> Contact First Name: </label>
												<div class="controls">
													<%= @merchant.account_first_name %>
												</div>
											</div>
											<div class="control-group">
												<label class="control-label"> Contact Last Name: </label>
												<div class="controls">
													<%= @merchant.account_last_name %>
												</div>
											</div>
											<div class="control-group">
												<label class="control-label"> Phone: </label>
												<div class="controls">
													<%= number_to_phone(@merchant.phone) %>
												</div>
											</div>
											<% if not @merchant.website.empty? %>
											<div class="control-group">
												<label class="control-label"> Website: </label>
												<div class="controls">
													<%= @merchant.website %>
												</div>
											</div>
											<% end %>
											<% if not @merchant.facebook_page_id.empty? %>
											<div class="control-group">
												<label class="control-label"> Facebook Page ID: </label>
												<div class="controls">
													<%= @merchant.facebook_page_id %>
												</div>
											</div>
											<% end %>
											<div class="control-group">
												<label class="control-label"> Status: </label>
												<div class="controls">
													<%= @merchant.status %>
												</div>
											</div>
											<% if @merchant.payment_subscription %>
											<div class="control-group">
												<label class="control-label"> Plan Type: </label>
												<div class="controls">
													<%= @merchant.payment_subscription.plan_type %>
												</div>
											</div>
											<div class="control-group">
												<label class="control-label"> Plan: </label>
												<div class="controls">
													<%= PaymentPlan.id_to_plan[@merchant.payment_subscription.plan_id].name %>
												</div>
											</div>
											<% if @merchant.payment_subscription.start_date != Constant::MIN_DATE %>
											<div class="control-group">
												<label class="control-label"> Start Date: </label>
												<div class="controls">
													<%= @merchant.payment_subscription.start_date.strftime("%b %d, %Y") %>
												</div>
											</div>
											<% end %>
											<% if @merchant.payment_subscription.end_date != Constant::MAX_DATE %>
											<div class="control-group">
												<label class="control-label"> End Date: </label>
												<div class="controls">
													<%= @merchant.payment_subscription.end_date.strftime("%b %d, %Y") %>
												</div>
											</div>
											<% end %>
											<% end %>
											<% if @merchant.will_terminate %>
											<div class="control-group">
												<label class="control-label"> Termination Date: </label>
												<div class="controls">
													<%= @merchant.termination_date.strftime("%b %d, %Y") %>
												</div>
											</div>
											<% end %>
											<div style="margin: 10px 0;">
												<%= link_to 'Login', merchant_session_url(:subdomain => "merchant", :auth_token => @merchant.authentication_token, :sid => @current_staff.id), :class=>"btn btn-small", :target => "_blank" %>
											</div>
											<%= link_to 'Edit', edit_merchant_path(@merchant) %>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /widget-content -->
					</div>
					<!-- /widget -->
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /main-inner -->
</div>
<!-- /main -->