<% content_for :link do %>
<link rel="stylesheet" href="/javascripts/desktop/css/homepage.css"/>
<!--[if lt IE 9]>
<link rel="stylesheet" href="/javascripts/desktop/css/homepage-ie8.css"/>
<![endif]-->
<link rel="stylesheet" href="/javascripts/desktop/css/pages/signin.css"/>
<% end %>
<% content_for :script do %>
<script type="text/javascript" src="/javascripts/desktop/src/signin.js"></script>
<% end %>
<div class="account-container">
   <div class="content clearfix">
      <%= simple_form_for @user, :html => {:class => 'form-vertical'}, :url => registration_path(User) do |f| %>
      <h1>Create Account</h1>
      <div class="login-fields">
         <p>Please provide the following info:</p>
         <%= f.input :name, :placeholder => "Full Name" %>
         <%= f.input :email, :placeholder => "Email Address" %>
         <%= f.input :phone, :placeholder => "Phone # (For alternate access)" %>
         <%= f.input :tag_id, :placeholder => "Tag ID" %>
         <%= f.input :password, :placeholder => "Password" %>
      </div>
      <div class="login-actions" style="margin-top:10px;clear:both;">
      	<p>By clicking Sign Up, you agree to our <a rel="nofollow" target="_blank" href="/terms">Terms</a> and <a rel="nofollow" target="_blank" href="/privacy">Privacy Policy</a></p>
      </div> 	
      <div class="login-actions">
         <%= f.button :submit, "Sign Up", :class => 'button btn  btn-warning btn-large' %>
      </div>
      <% end %>
   </div>
</div>