<% content_for :link do %>
<link rel="stylesheet" href="/javascripts/desktop/css/pages/signin.css"/>
<% end %>
<% content_for :script do %>
<script type="text/javascript" src="/javascripts/desktop/src/signin.js"></script>
<% end %>
<div class="account-container">
   <div class="content clearfix">
      <%= simple_form_for @user, :html => {:class => 'form-vertical'}, :url => registration_path(User) do |f| %>
      <% if session["devise.facebook_data"].nil? %>
      <h2>Create Account</h2>
      <% else %>
      <h2>Complete Account Creation</h2>
      <% end %>
      <div class="login-fields">
      	 <% if session["devise.facebook_data"].nil? %>
      	 <p style="padding-top: 9px;"><%= link_to "Sign up with Facebook", user_omniauth_authorize_path(:facebook), :id => 'facebookButton' %></p>
      	 <p style="padding-top: 9px;">or</p>
      	 <% end %>
         <p>Please provide the following info:</p>
         <%= f.input :name, :placeholder => "Full Name" %>
         <%= f.input :email, :placeholder => "Email Address" %>
         <% if @user.errors.any? && @user.errors[:phone].length > 0 %>
         <%= f.input :phone, :placeholder => "Phone Number" %>
         <% else %>
         <%= f.input :phone, :as => :hidden, :placeholder => "Phone Number", :input_html => { :value => session[:phone_number] } %>
         <% end %>
         <%= f.input :tag_id, :placeholder => "Tag ID" %>
         <%= f.input :password, :placeholder => "Password" %>
      </div>
      <div class="login-actions" style="margin-top:10px;clear:both;">
      	<p>By clicking Sign Up, you agree to our <a rel="nofollow" target="_blank" href="/terms">Terms</a> and <a rel="nofollow" target="_blank" href="/privacy">Privacy Policy</a></p>
      </div> 	
      <div class="login-actions">
         <%= f.button :submit, "Sign Up", :class => 'button btn  btn-warning btn-large' %>
      </div>
      <% end %>
   </div>
</div>