<%= simple_form_for @order, :url => complete_order_path(@deal) do |f| %>
	<% if @order.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

		<ul>
			<% @order.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<%= f.input :subdeal_id, :label => "", :collection => @deal.subdeals, :label_method => :title, :value_method => :id, :include_blank => false %>
	<%= f.input :quantity %>
	<%= f.button :submit, "Complete Order" %>
<% end %> 