<% content_for :script do %> 
<script type="text/javascript" src="/javascripts/desktop/src/purchase.js"></script>
<% end %>
<% if @order.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
	<ul>
		<% @order.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %> 
<!-- Example row of columns -->
<%= form_for @order, :url => complete_order_path do |f| %>
<div class="row" style="margin-top:100px;">
	<div id="highlights" class="span24">
		<h2>Your Purchase Choices</h2>
		<div class="purchase panelBodyHighlights">
			<table>
				<thead>
					<tr>
						<th style="visibility:hidden;" class=""></th>
						<th class="green span14">Description</th>
						<th class="green span2">Quantity</th>
						<th class="green span1">&#160;</th>
						<th class="green span2">Price</th>
						<th class="green span1">&#160;</th>
						<th class="green span2">Total</th>
					</tr>
				</thead>
				<% @deal.subdeals.each_with_index do |sdeal, i| %>
				<tr>
					<td class="span1"> <%= f.radio_button(:subdeal_id, sdeal.id, :checked => (@deal.subdeals.length == 1 && i== 0) ? true : false) %> </td>
					<td class="span14"><%= sdeal.title %></td>
					<td class="span2"> <%= f.text_field(:quantity) %> </td>
					<td class="span1">x</td>
					<td class="span2">C$<%= sdeal.discount_price %></td>
					<td class="span1">=</td>
					<td class="span2">C$</td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>
<div class="row">
	<div id="highlights" class="span24">
		<h2>Select Your Payment Method</h2>
		<div class="payment panelBodyHighlights">
			<table>
				<thead>
					<tr>
						<th style="visibility:hidden;" class=""></th>
						<th class="green span14">Method</th>
						<th class="span8" style="visibility:hidden;">&#160;</th>
					</tr>
				</thead>
				<tr>
					<td class="span1">
					<input type="radio" name="payMethod" value="PayPal" checked="1"/>
					</td>
					<td class="span14">PayPal or Credit Card</td>
					<td class="span8" style="visibility:hidden;">&#160;</td>
				</tr>
			</table>
			<%= f.submit "Complete Order", :class => "btn primary large noWrap" %>
		</div>
	</div>
</div>
<% end %>