<% content_for :script do %> <script type="text/javascript" src="/javascripts/desktop/src/purchase.js"></script>
<script type="text/javascript" src="/javascripts/order.js"></script>
<% end %>
<% if @order.errors.any? %>
<div id="error_explanation">
   <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
   <ul>
      <% @order.errors.full_messages.each do |msg| %>
      <li>
         <%= msg %>
      </li>
      <% end %>
   </ul>
</div>
<% end %> <!-- Example row of columns -->
<div class="row">
   <div class="span24">
      <%= form_for @order, :url => complete_order_path do |f| %>
      <div class="row">
         <div id="highlights" class="span24">
            <h2>Your Purchase Choices</h2>
            <div class="purchase panelBodyHighlights">
               <table>
                  <thead>
                     <tr>
                        <th style="visibility:hidden;" class="span1"></th>
                        <th class="green span12">Description</th>
                        <th class="green span2">Quantity</th>
                        <th class="green span1">&#160;</th>
                        <th class="green span2">Price</th>
                        <th class="green span1">&#160;</th>
                        <th class="green span4">Total</th>
                     </tr>
                  </thead>
                  <% @deal.subdeals.each_with_index do |sdeal, i| %>
                  <tr>
                     <td class="span1"> <%= f.radio_button(:subdeal_id, sdeal.id, :checked => (@deal.subdeals.length == 1 && i == 0) ? true : false) %> </td>
                     <td class="span12"><%= sdeal.title %></td>
                     <td class="span2">
                     <input id="order_quantity<%= i+1 %>" type="text" name="order_quantity<%= i+1 %>">
                     </td>
                     <td class="span1">x</td>
                     <td id="order_discount_price<%= i+1 %>" class="span2" value="<%= sdeal.discount_price %>">C$<%= sdeal.discount_price.to_i %></td>
                     <td class="span1">=</td>
                     <td id="order_total<%= i+1 %>" class="span4">C$0.00</td>
                  </tr>
                  <% end %>
                  <%= f.hidden_field(:quantity, :value => 0) %>
               </table>
            </div>
         </div>
      </div>
      <div class="row">
         <div id="highlights" class="span24">
            <h2>Select Your Payment Method</h2>
            <div class="payment panelBodyHighlights">
               <table>
                  <thead>
                     <tr>
                        <th style="visibility:hidden;" class=""></th>
                        <th class="green span14">Method</th>
                        <th class="span8" style="visibility:hidden;">&#160;</th>
                     </tr>
                  </thead>
                  <tr>
                     <td class="span1">
                     <input type="radio" name="payMethod" value="PayPal" checked="1"/>
                     </td>
                     <td class="span14">PayPal or Credit Card</td>
                     <td class="span8" style="visibility:hidden;">&#160;</td>
                  </tr>
               </table>
               <%= f.submit "Complete Order", :class => "btn primary large noWrap", :disable_with => "Working..." %>
            </div>
         </div>
      </div>
   </div>
   <div id="faq" class="span8">
      <h2>Payment FAQ</h2>
      <div class="panelBodyHighlights">
         <dl>
            <dt>
               What happens after recommend this merchant to my friends?
            </dt>
            <dd>
               You can expect an email receipt on your reward from us. You can then redeem the deal by printing out your ticket or displaying it on your smartphone. Yay!
            </dd>
            <dt>
               What happens after I purchase this deal?
            </dt>
            <dd>
               You can expect an email confirmation receipt from us along with basic instructions on what to do next. You can then redeem the deal by printing out your ticket or displaying it on your smartphone.
            </dd>
         </dl>
      </div>
   </div>
</div>
<% end %> 