<% content_for :script do %> <script type="text/javascript" src="/javascripts/desktop/src/order.js"></script>
<script type="text/javascript">
	$(document).ready($(function() {
		var msg = $("#error_explanation").html();
		if(msg) {
			Genesis.showErrMsg(msg,null,true);
		}
	}));

</script>
<% end %>

<% if flash[:errors] %>
<div style="display:none;" id="error_explanation">
	<h5>Please fix the <%= pluralize(flash[:errors].length, "error") %> below:</h5>
	<br/>
	<ul>
		<% flash[:errors].each do |msg| %>
		<li>
			<%= msg.join %>
		</li>
		<% end %>
	</ul>
</div>
<% end %> <!-- Example row of columns -->
<div class="row">
	<div class="span24">
		<%= form_for @order, :url => complete_order_path do |f| %>
		<div class="row">
			<div class="span24">
				<h2>Your Purchase Choices</h2>
				<div class="purchase panelBodyHighlights" style="padding-right:40px;">
					<table style="margin-bottom:0px;">
						<thead>
							<tr>
								<th style="visibility:hidden;" class="span1"></th>
								<th class="green span12">Description</th>
								<th class="green span2">Quantity</th>
								<th class="green span1">&#160;</th>
								<th class="green span2">Price</th>
								<th class="green span1">&#160;</th>
								<th class="green span4" style="text-align:right;">Total</th>
							</tr>
						</thead>
						<% @deal.subdeals.each_with_index do |sdeal, i| %>
						<tr>
							<td class="span1"> <%= f.radio_button(:subdeal_id, sdeal.id, :id_value => i+1, :checked => ((@deal.subdeals.length == 1 && i == 0) || (@order.subdeal_id == sdeal.id)) ? true : false) %> </td>
							<td class="span12"><%= sdeal.title %></td>
							<td class="span2">
							<input id="order_quantity<%= i+1 %>" type="text" name="order_quantity<%= i+1 %>" value="<%= @order.subdeal_id == sdeal.id ? @order.quantity : nil %>">
							</td>
							<td class="span1">x</td>
							<td id="order_discount_price<%= i+1 %>" class="span2" value="<%= sdeal.discount_price %>">C$<%= sdeal.discount_price.to_i %></td>
							<td class="span1">=</td>
							<td id="order_total<%= i+1 %>" class="span4" style="text-align:right;">C$<%= @order.subdeal_id == sdeal.id ? "%0.2f" % @order.total_payment : '0.00' %></td>
						</tr>
						<% end %>
						<tr>
							<td colspan="2"><img style="vertical-align:middle;" src="http://photos.justformyfriends.com/gift-icon.png"/><a style="vertical-align:middle;margin-left:5px;" id="enable_gift">Using this as a Gift?</a></td>
							<td colspan="3" style="text-align:right;"><h4>My Total:</h4></td>
							<td colspan="1"></td>
							<td colspan="1" style="text-align:right;"><h4 id="order_grand_total">C$<%= @order.subdeal_id ? "%0.2f" % @order.total_payment : '0.00' %></h4></td>
						</tr>
					</table>
               <%= f.hidden_field(:quantity, :value => @order.quantity ? @order.quantity : 0) %>
				</div>
			</div>
		</div>
		<div id="gift" class="row" style="<%= flash[:give_gift] ? 'display:block;' : 'display:none' %>">
			<div class="span24">
				<h2>Gift Option</h2>
				<div class="gift panelBodyHighlights form-stacked">
				   <table>
					<%= f.fields_for :gift_option_attributes, do |g| %>
					<tr>
					<td>
					<%= g.label :from %>
					<%= g.text_field :from, :value => flash[:give_gift] ? @order.gift_option_attributes[:from] : "" %>
					</td>
					<td>
					<%= g.label :to %>
					<%= g.text_field :to, :value => flash[:give_gift] ? @order.gift_option_attributes[:to] : "" %>
					</td>
					</tr>
					<td colspan="2">
					<%= g.label :message %>
					<%= g.text_area :message, :value => flash[:give_gift] ? @order.gift_option_attributes[:message] : "" %>
					</td>
					</tr>
					<tr>
               <td>
               <a id="disable_gift">Nevermind</a>
               <%= f.hidden_field(:give_gift, :value => flash[:give_gift] ? true : false) %>
               </td>
               </table>
					<% end %>
				</div>
			</div>
		</div>		
		<div class="row">
			<div class="span24">
				<h2>Select Your Payment Method</h2>
				<div class="payment panelBodyHighlights">
					<table>
						<thead>
							<tr>
								<th style="visibility:hidden;" class=""></th>
								<th class="green span14">Method</th>
								<th class="span8" style="visibility:hidden;">&#160;</th>
							</tr>
						</thead>
						<tr>
							<td class="span1">
								<input type="radio" name="payMethod" value="PayPal" checked="1"/>
							</td>
							<td class="span14">PayPal or Credit Card</td>
							<td class="span8" style="visibility:hidden;">&#160;</td>
						</tr>
					</table>
					<div><% if flash[:agree_to_terms].nil?  %><input type="checkbox" name="agree_to_terms" ><% else %><input type="checkbox" name="agree_to_terms" checked="checked" ><% end %> I agree to the <a href="/terms">Terms Of Use</a> and <a>Privacy Agreement</a></div>
					<div style="margin-top:10px;"><%= f.submit "Complete Order", :class => "btn primary large noWrap", :disable_with => "Working..." %></div>
				</div>
			</div>
		</div>
		<% end %>
	</div>
	<div id="faq" class="span8">
		<h2>Payment FAQ</h2>
		<div class="panelBodyHighlights">
			<dl>
				<dt>
					What happens after I buy this deal?
				</dt>
				<dd>
					You will receive an email confirmation receipt from us along with instructions on what to do next. Redeem the deal by printing out your ticket or displaying it on your smartphone.
				</dd>
				<dt>
					Is JustForMyFriends safe?
            	</dt>
            	<dd>
					Our transactions are handled by PayPal, which is in turn protected by SSL so it is 100% safe.
            	</dd>
			</dl>
		</div>
	</div>
</div>