<p id="notice"><%= notice %></p>

<p>
  <b>Order#:</b>
  <%= @order.id %>
</p>

<p>
  <b>Item:</b>
  <%= @order.deal.title %>
</p>

<p>
  <b>Referral Id:</b>
  <%= @order.referral_id %>
</p>

<p>
  <b>Quantity:</b>
  <%= @order.quantity %>
</p>

<p>
  <b>Purchase Date:</b>
  <%= @order.purchase_date %>
</p>

<p>
  <b>Total Payment:</b>
  <%= @order.total_payment %>
</p>