<% content_for :link do %>
      <link rel="stylesheet" href="/javascripts/desktop/css/add_business.css"/>
<% end %>

<% content_for :script do %>
<script type="text/javascript">
	$(document).ready($(function() {
	var msg=$("#notice").html();
	if(msg) {
	Genesis.showWarningMsg(msg,null,true);
	}
	}));
</script>
<% end %>
<% if @notice %>
<div style="display:none;" id="notice">
	<p>
		<%= @notice %>
	</p>
</div>
<% end %>
<div class="container">
	<!--/Hero Unit-->
	<div class="row contactus">
		<div class="span12">
			<div class="hero-unit">
				<h1>KICKBAK is a game
				<br>
				designed for restaurants
				<br>
				and bars to reward
				<br>
				customer loyalty</h1>
				<p>
					If you are a business owner, please fill out the following to get KICKBAK for your business:
				</p>
			</div>
		</div>
	</div>
	<!--/Cotnact Form-->
	<div class="row">
		<div class="span12">
			<img class="createSlogan" src="http://files.getkickbak.com/v1/create.png"/>
		</div>
	</div>
	<!--/Send Button-->
	<div class="row">
		<div class="span12 sendButton">
			<img src="http://files.getkickbak.com/v1/send2.png"/>
		</div>
	</div>
</div>
<!--
<div class="row">
	<div class="span32">
		<h2>Email JustForMyFriends</h2>
		<div class="panelBodyHighlights">
			<%= simple_form_for @merchant_contact, :url => create_merchant_contact_path do |f| %>
			<%= f.input :name %>
			<%= f.input :email %>
			<%= f.input :merchant_name %>
			<%= f.input :address %>
			<%= f.input :city %>
			<%= f.input :state, :collection => MerchantContact.states %>
			<%= f.input :phone %>
			<%= f.input :message, :as => :text, :input_html => { :rows => 10 } %>
			<div class="alignLeft">
				<%= f.button :submit, 'Submit Request', :disable_with => "Working...", :class =>"large primary btn" %>
			</div>
			<% end %>
		</div>
	</div>
</div>
-->