<% content_for :link do %>
<link rel="stylesheet" href="/javascripts/desktop/lib/videoLightBox-1.10/css/videolightbox.css"/>
<link rel="stylesheet" href="/javascripts/desktop/lib/videoLightBox-1.10/css/overlay-minimal.css"/>
<link rel="stylesheet" href="/javascripts/desktop/css/add_business.css"/>
<!--[if lt IE 9]>
<link rel="stylesheet" href="/javascripts/desktop/css/add_business-ie8.css"/>
<![endif]-->
<style type="text/css">
	#videogallery a#videolb {
		display:none;
	}
</style>
<% end %>
<% content_for :background do %>
<div id="page-background-top">
	<img src="http://files.getkickbak.com/v1/headerimage6.jpg">
</div>
<div id="page-background-bottom">
	<img src="http://files.getkickbak.com/v1/contentbg.png">
</div>
<% end %>
<% content_for :script do %>
<!-- -->
<script type="text/javascript" src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
<script type="text/javascript" src="/javascripts/desktop/lib/videoLightBox-1.10/js/swfobject.js"></script>
<script type="text/javascript" src="/javascripts/desktop/lib/videoLightBox-1.10/js/videolightbox.js"></script>
<script type="text/javascript">
	function onYouTubePlayerReady(playerId) {
	ytplayer=document.getElementById("onYouTubePlayerReady_overlay");
	ytplayer.setVolume(80);
	}
</script>
<% end %>

<div id="main" class="container">
	<!--/Hero Unit-->
	<div class="row addbusiness">
		<!--
		<img src="http://files.getkickbak.com/v1/business.gif" />
		-->
		<div class="span12">
			<div class="hero-unit">
				<h1> KICKBAK loyalty program works to
				<br>
				acquire, retain, and increase customers
				<br>
				for your business. </h1>
				<h2>Find out how.</h2>
			</div>
			<div id="videogallery">
				<!--
				<a rel="#voverlay"
				href="/javascripts/desktop/lib/videoLightBox-1.10/swf/player.swf?url=../../../movie.f4v&amp;volume=100"
				title="">
				-->
				<a rel="#voverlay" href="http://www.youtube.com/v/t8DmQoEvdsY?autoplay=1&amp;rel=0&amp;enablejsapi=1&amp;playerapiid=ytplayer" > <!-- --> <img border="0" src="/javascripts/desktop/img/icon-video.png" /> </a>
			</div>
		</div>
	</div>
	<!--/Cotnact Form-->
	<div class="row" style="margin-top:40px;">
		<% if flash[:notice] %>
		<div class="alert alert-warning">
			<a class="close" data-dismiss="alert" href="#">×</a>
			<%= flash[:notice] %>
		</div>
		<% end %>
		<div class="widget">
			<div class="span12" style="margin-bottom:40px;">
				<p class="consultation">
					To schedule a FREE consultation for your business:
				</p>
			</div>
			<div class="span2"></div>
			<div class="span8 createForm">
				<%= simple_form_for @merchant_contact, :url => create_merchant_contact_path do |f| %>
				<%= f.input :name, :input_html => { :style => 'width:260px;' }, :wrapper_html => { :class => 'span_field' } %>
				<%= f.input :email, :input_html => { :style => 'width:260px;' }, :wrapper_html => { :class => 'span_field' } %>
				<%= f.input :business_name, :input_html => { :style => 'width:260px;' }, :wrapper_html => { :class => 'span_field' } %>
				<%= f.input :phone, :input_html => { :style => 'width:260px;' }, :wrapper_html => { :class => 'span_field' } %>
				<%= f.input :address, :input_html => { :style => 'width:260px;' }, :wrapper_html => { :class => 'span_field' } %>
				<%= f.input :city, :input_html => { :style => 'width:260px;' }, :wrapper_html => { :class => 'span_field' } %>
				<%= f.input :province, :collection => MerchantContact.states, :input_html => { :style => 'width:270px;' }, :wrapper_html => { :class => 'span_field' } %>
				<%= f.input :message, :as => :text, :required => false, :input_html => { :rows => 5, :style => 'width:260px;' }, :wrapper_html => { :class => 'span_field' } %>
				<div class="pull-right">
					<%= f.button :submit, 'Send', :type => :image, :src => 'http://files.getkickbak.com/v1/send2.png' %>
				</div>
				<% end %>
			</div>
			<div class="span2"></div>
		</div>
	</div>
</div>