<% if @notice %>
<div class="alert alert-success">
	<p>
		<%= @notice %>
	</p>
</div>
<% end %>
<div class="container">
	<div class="row">
		<div class="span4">
			<h2>Email KICKBAK</h2>
			<%= simple_form_for @contact, :url => create_contact_path do |f| %>
			<%= f.input :name, :input_html => { :style => 'width:260px;' } %>
			<% if signed_in? && @contact.errors.empty? %>
			<%= f.input :email, :input_html => { :style => 'width:260px;', :value => current_user.email } %>
			<% else %>
			<%= f.input :email, :input_html => { :style => 'width:260px;' } %>
			<% end %>
			<%= f.input :topic, :collection => Contact.topic_list, :input_html => { :style => 'width:270px;' } %>
			<%= f.input :description, :as => :text, :input_html => { :style => 'width:260px;', :rows => 5 } %>
			<div class="pull-right">
			<%= f.button :submit, 'Send', :type => :image, :src => 'http://files.getkickbak.com/v1/send2.png' %>
			</div>
			<% end %>
		</div>
	</div>
</div>
