<% content_for :link do %>
<link rel="stylesheet" href="/javascripts/desktop/css/contact_us.css"/>
<!--[if lt IE 9]>
<link rel="stylesheet" href="/javascripts/desktop/css/contact_us-ie8.css"/>
<![endif]-->
<% end %>
<% content_for :background do %>
<div id="page-background-top">
	<img src="https://s3.amazonaws.com/files.getkickbak.com/v1/headerimage5.jpg">
</div>
<div id="page-background-bottom">
	<img src="https://s3.amazonaws.com/files.getkickbak.com/v1/contentbg.png">
</div>
<% end %>
<div id="main" class="container">
	<% if flash[:notice] %>
	<div class="alert alert-warning">
		<a class="close" data-dismiss="alert" href="#">×</a>
		<%= flash[:notice] %>
	</div>
	<% end %>
	<!--/Cotnact Form-->
	<div class="row">
		<div class="widget">
			<div class="span2"></div>
			<div class="span8 createForm">
				<h2>Email KICKBAK</h2>
				<%= simple_form_for @contact, :url => create_contact_path do |f| %>
				<%= f.input :name, :input_html => { :style => 'width:550px;' } %>
				<% if signed_in? && @contact.errors.empty? %>
				<%= f.input :email, :input_html => { :style => 'width:550px;', :value => current_user.email } %>
				<% else %>
				<%= f.input :email, :input_html => { :style => 'width:550px;' } %>
				<% end %>
				<%= f.input :topic, :collection => Contact.topic_list, :input_html => { :style => 'width:560px;' } %>
				<%= f.input :message, :as => :text, :input_html => { :style => 'width:550px;', :rows => 5 } %>
				<div class="pull-right">
					<%= f.button :submit, 'Send', :type => :image, :src => 'https://s3.amazonaws.com/files.getkickbak.com/v1/send2.png' %>
				</div>
				<% end %>
			</div>
			<div class="span2"></div>
		</div>
	</div>
</div>

