<% content_for :meta do %> 
<title>Kickbak - Contact Us</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<% end %>
<% content_for :link do %>
<% end %>

<div class="container">
	<% if flash[:notice] %>
	<div class="alert alert-warning">
		<a class="close" data-dismiss="alert" href="#">×</a>
		<%= flash[:notice] %>
	</div>
	<% end %>
	<div class="row">
		<h1>Get in Touch</h1>
		<div class="span3"></div>
		<div class="span6">
			<%= simple_form_for @contact, :url => create_contact_path, :html => { :class => 'contact-form', :style => 'width:460px;padding-bottom:50px;' } do |f| %>
			<%= f.input :name, :input_html => { :style => 'width:446px;' } %>
			<% if signed_in? && @contact.errors.empty? %>
			<%= f.input :email, :input_html => { :style => 'width:446px;', :value => current_user.email } %>
			<% else %>
			<%= f.input :email, :input_html => { :style => 'width:446px;' } %>
			<% end %>
			<%= f.input :topic, :collection => Contact.topic_list, :input_html => { :style => 'width:460px;' } %>
			<%= f.input :message, :as => :text, :input_html => { :style => 'width:446px;', :rows => 5 } %>
			<%= f.button :submit, 'Send' %>
			<% end %>
			<!-- /form -->
		</div><!-- /span6 -->
		<div class="span3"></div>
	</div>
</div>
