<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head prefix="og: http://ogp.me/ns# product: http://ogp.me/ns/product#">
    <meta property="fb:app_id" content="537476722>">
      <meta property="og:url" content="<%= params[:og_url] %>">
      <meta property="og:type" content="<%= params[:og_type] %>">
      <meta property="og:title" content="<%= params[:og_title] %>">
      <meta property="og:image" content="<%= params[:og_image] %>">
      <meta property="og:description" content="<%= params[:og_description] %>">
      <title><%= params[:og_title] %></title>
  </head>
    <body>
      <%= params[:body] %>
    </body>
</html>