<%= simple_form_for @merchant do |f| %>
	<% if @merchant.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@merchant.errors.count, "error") %> prohibited this merchant from being saved:</h2>

		<ul>
			<% @merchant.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<%= f.input :name %>
	<%= f.input :email %>
	<%= f.input :photo_url %>
	<%= f.input :password %>
	<%= f.input :password_confirmation %>
	<%= f.input :first_name %>
	<%= f.input :last_name %>
	<%= f.input :address1 %>
	<%= f.input :address2, :required => false %>
	<%= f.input :city %>
	<%= f.input :state %>
	<%= f.input :zipcode %>
	<%= f.input :country, :as => :string %>
	<%= f.input :phone %>
	<%= f.input :website %>
	<%= f.input :paypal_account %>
	<%= f.button :submit %>
<% end %>
