<h1>Listing merchants</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Address1</th>
		<th>Address2</th>
		<th>City</th>
		<th>State</th>
		<th>Zipcode</th>
		<th>Country</th>
		<th>Phone</th>
		<th>Website</th>
		<th>Paypal Account</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

	<% @merchants.each do |merchant| %>
	<tr>
		<td><%= merchant.name %></td>
		<td><%= merchant.email %></td>
		<td><%= merchant.first_name %></td>
		<td><%= merchant.last_name %></td>
		<td><%= merchant.address1 %></td>
		<td><%= merchant.address2 %></td>
		<td><%= merchant.city %></td>
		<td><%= merchant.state %></td>
		<td><%= merchant.zipcode %></td>
		<td><%= merchant.country %></td>
	    <td><%= merchant.phone %></td>
	    <td><%= merchant.website %></td>
	    <td><%= merchant.paypal_account %></td>
		<td><%= link_to 'Show', merchant_path(merchant) %></td>
		<td><%= link_to 'Edit', edit_merchant_path(merchant) %></td>
		<td><%= link_to 'Destroy', merchant_path(merchant), :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
</table>

<br />

<%= link_to 'New Merchant', new_merchant_path %>
