<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @merchant.name %>
</p>

<p>
  <b>Email:</b>
  <%= @merchant.email %>
</p>

<p>
  <b>Photo Url:</b>
  <%= @merchant.photo_url %>
</p>

<p>
  <b>First Name:</b>
  <%= @merchant.first_name %>
</p>

<p>
  <b>Last Name:</b>
  <%= @merchant.last_name %>
</p>

<p>
  <b>Address1:</b>
  <%= @merchant.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @merchant.address2 %>
</p>

<p>
  <b>City:</b>
  <%= @merchant.city %>
</p>
 
<p>
  <b>State:</b>
  <%= @merchant.state %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @merchant.zipcode %>
</p>
 
<p>
  <b>Country:</b>
  <%= @merchant.country %>
</p>
  
<p>
  <b>Phone:</b>
  <%= @merchant.phone %>
</p>

<p>
  <b>Website:</b>
  <%= @merchant.website %>
</p>

<p>
  <b>Paypal:</b>
  <%= @merchant.paypal_account %>
</p>

<%= link_to 'Edit', edit_merchant_path(@merchant) %> |
<%= link_to 'Back', merchants_path %>
