<% if @invoice.paid %>
Dear <%= @merchant.name %>,
<br>
<br>
Thank you for your payment of $<%= @invoice.amount %> CAD that was processed on <%= Date.today.strptime('%m/%d/%Y') %>.  Your can view your invoice <a rel="nofollow" target="_blank" href="merchant.getkickbak.com/invoices">here</a>.
<br>
<br>
We appreciate your business!
<br>
<br>
If you have any questions regarding your invoice, please contact billing@getkickbak.com.
<br>
<br>
Best Regards,
<br>
<br>
KICKBAK Billing Department
<% else %>
Dear <%= @merchant.name %>,
<br>
<br>
We failed to process your payment of $<%= @invoice.amount %> CAD on <%= Date.today.strptime('%m/%d/%Y') %>.  Your can view your invoice <a rel="nofollow" target="_blank" href="merchant.getkickbak.com/invoices">here</a>.
<br>
<br>
We will re-attempt within the next 5 business days.
<br>
<br>
If you have any questions regarding your invoice, please contact billing@getkickbak.com.
<br>
<br>
Best Regards,
<br>
<br>
KICKBAK Billing Department
<% end %>
