<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<div>
			<table cellspacing="0" cellpadding="0" width="480" border="0" align="center" bgcolor="#ffffff" style="font-size:12px;color:#444;font-family:arial,sans-serif">
				<tbody>
					<tr>
						<td align="left">
						<div style="background:#0A78BE;padding: 20px 15px;border-radius:0.6em;">
							<a href="http://www.getkickbak.com" target="_blank"> <img src="http://files.getkickbak.com/v1/logo.png" width="100" border="0" alt="KICKBAK"> </a>
						</div></td>
						<td></td>
					</tr>
					<tr>
						<td height="10"></td><td></td>
					</tr>
					<tr>
						<td style="border:1px solid #ccc;padding:10px 15px">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tbody>
								<tr valign="middle">
									<td>
									<br>
									<br>
									<b>Hi <%= @merchant.name %>,</b>
									<br>
									<br>
									Here is your KICKBAK summary for week of <%= 1.weeks.ago.beginning_of_week.strftime("%B %d, %Y") %>:
									<br>
									<br>
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td>
												<h3>Customers</h3>
											</td>
										</tr>
										<tr>
											<td align="left" style="padding:10px 10px 10px 0px;">Total # of customers:</td><td align="center" style="font-size:16px;"><b><%= @stats[:total_customer_count] %></b></td>
										</tr>
										<tr>
											<td align="left" style="padding:10px 10px 10px 0px;">New customers this week:</td><td align="center" style="font-size:16px;"><b><%= @stats[:new_customer_count] %></b></td>
										</tr>
										<tr>
											<td>
												<h3>Spending</h3>
											</td>
										</tr>
										<tr>
											<td align="left" style="padding:10px 10px 10px 0px;">Total loyalty spend:</td><td align="center" style="font-size:16px;"><b>$<%= "%0.2f" % @stats[:total_spend] %></b></td>
										</tr>
										<tr>
											<td align="left" style="padding:10px 10px 10px 0px;">New loyalty spend total this week:</td><td align="center" style="font-size:16px;"><b>$<%= "%0.2f" % @stats[:new_total_spend] %></b></td>
										</tr>
										<tr>
											<td>
												<h3>Purchases</h3>
											</td>
										</tr>
										<tr>
											<td align="left" style="padding:10px 10px 10px 0px;">Total purchases:</td><td align="center" style="font-size:16px;"><b><%= @stats[:total_purchases_count] %></b></td>
										</tr>
										<tr>
											<td align="left" style="padding:10px 10px 10px 0px;">New purchases this week:</td><td align="center" style="font-size:16px;"><b><%= @stats[:new_purchases_count] %></b></td>
										</tr>
										<tr>
											<td>
												<h3>Rewards</h3>
											</td>
										</tr>
										<tr>
											<td align="left" style="padding:10px 10px 10px 0px;">Total rewards redeemed:</td><td align="center" style="font-size:16px;"><b><%= @stats[:total_rewards_redeemed] %></b></td>
										</tr>
										<tr>
											<td align="left" style="padding:10px 10px 10px 0px;">New rewards redeemed this week:</td><td align="center" style="font-size:16px;"><b><%= @stats[:new_rewards_redeemed] %></b></td>
										</tr>
										<tr>
											<td align="left" style="padding:10px 10px 10px 0px;">Outstanding reward points total:</td><td align="center"><%= @stats[:total_reward_points] %></td>
										</tr>
										<tr>
											<td align="left" style="padding:10px 10px 10px 0px;">Total reward points earned:</td><td align="center"><%= @stats[:total_reward_points_earned] %></td>
										</tr>
										<tr>
											<td align="left" style="padding:10px 10px 10px 0px;">New reward points earned this week:</td><td align="center"><%= @stats[:new_reward_points_earned] %></td>
										</tr>
										<tr>
											<td align="left" style="padding:10px 10px 10px 0px;">Total reward points redeemed:</td><td align="center"><%= @stats[:total_reward_points_redeemed] %></td>
										</tr>
										<tr>
											<td align="left" style="padding:10px 10px 10px 0px;">New reward points redeemed this week:</td><td align="center"><%= @stats[:new_reward_points_redeemed] %></td>
										</tr>
										<tr>
											<td>
												<h3>Prizes</h3>
											</td>
										</tr>
										<tr>
											<td align="left" style="padding:10px 10px 10px 0px;">Total prizes redeemed:</td><td align="center" style="font-size:16px;"><b><%= @stats[:total_prizes_redeemed] %></b></td>
										</tr>
										<tr>
											<td align="left" style="padding:10px 10px 10px 0px;">New prizes redeemed this week:</td><td align="center" style="font-size:16px;"><b><%= @stats[:new_prizes_redeemed] %></b></td>
										</tr>
										<tr>
											<td align="left" style="padding:10px 10px 10px 0px;">Outstanding prize points total:</td><td align="center"><%= @stats[:total_prize_points] %></td>
										</tr>
										<tr>
											<td align="left" style="padding:10px 10px 10px 0px;">Total prize points earned:</td><td align="center"><%= @stats[:total_prize_points_earned] %></td>
										</tr>
										<tr>
											<td align="left" style="padding:10px 10px 10px 0px;">New prize points earned this week:</td><td align="center"><%= @stats[:new_prize_points_earned] %></td>
										</tr>
										<tr>
											<td align="left" style="padding:10px 10px 10px 0px;">Total prize points redeemed:</td><td align="center"><%= @stats[:total_prize_points_redeemed] %></td>
										</tr>
										<tr>
											<td align="left" style="padding:10px 10px 10px 0px;">New prize points redeemed this week:</td><td align="center"><%= @stats[:new_prize_points_redeemed] %></td>
										</tr>
										<tr>
											<td>
												<h3>Challenges</h3>
											</td>
										</tr>
										<tr>
											<td align="left" style="padding:10px 10px 10px 0px;">Total challenges completed:</td><td align="center"><%= @stats[:total_challenges_count] %></td>
										</tr>
										<tr>
											<td colspan="2">
											<table style="margin-bottom:0px;margin-top:10px;border:1px solid #DDD;background-color:white;width:100%;margin-bottom:18px;border-collapse:collapse;font-size:12px;">
												<thead>
													<tr>
														<th style="padding:10px 10px 9px;border:0 !important;">Challenge</th>
														<th style="padding:10px 10px 9px;border:0 !important;">Count</th>
														<th style="padding:10px 10px 9px;border:0 !important;">% of Total</th>
													</tr>
												</thead>
												<% @stats[:total_challenges_indv_count].each do |challenge| %>
												<tr>
													<td align="left" style="padding:10px 10px 9px;border:0 !important;"><%= challenge[:name] %></td>
													<td align="center" style="padding:10px 10px 9px;border:0 !important;"><%= challenge[:count] %></td>
													<td align="center" style="padding:10px 10px 9px;border:0 !important;"><%= "#{challenge[:percentage]}%" %></td>
												</tr>
												<% end %>
											</table></td>
										</tr>
										<tr>
											<td align="left" style="padding:10px 10px 10px 0px;">New challenges completed this week:</td><td align="center"><%= @stats[:new_challenges_count] %></td>
										</tr>
										<tr>
											<td colspan="2">
											<table style="margin-bottom:0px;margin-top:10px;border:1px solid #DDD;background-color:white;width:100%;margin-bottom:18px;border-collapse:collapse;font-size:12px;">
												<thead>
													<tr>
														<th style="padding:10px 10px 9px;border:0 !important;">Challenge</th>
														<th style="padding:10px 10px 9px;border:0 !important;">Count</th>
														<th style="padding:10px 10px 9px;border:0 !important;">% of Total</th>
													</tr>
												</thead>
												<% @stats[:new_challenges_indv_count].each do |challenge| %>
												<tr>
													<td align="left" style="padding:10px 10px 9px;border:0 !important;"><%= challenge[:name] %></td>
													<td align="center" style="padding:10px 10px 9px;border:0 !important;"><%= challenge[:count] %></td>
													<td align="center" style="padding:10px 10px 9px;border:0 !important;"><%= "#{challenge[:percentage]}%" %></td>
												</tr>
												<% end %>
											</table></td>
										</tr>
									</table></td>
								</tr>
							</tbody>
						</table>
						<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-top:1px solid #ccc">
							<tbody>
								<tr>
									<td align="center">
									<br>
									Questions or comments? Email us at <a rel="nofollow" ymailto="mailto:help@getkickbak.com" target="_blank" href="mailto:help@getkickbak.com">help@getkickbak.com</a>
									<br>
									<br>
									Thanks from the <a rel="nofollow" target="_blank" href="<%= root_url %>">KICKBAK</a> team.
									<br>
									<br>
									</td>
								</tr>
							</tbody>
						</table></td>
						<td style="vertical-align:top;padding-left:7px"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>