<div class="content row">
Invoice #<%= @invoice.invoice_id %>
<br>
Receipt Date: <%= Time.now.strftime("%m/%d/%Y") %>
<br>
Order Total: $ <%= @invoice.amount %>
<br>
<br>
Monthly Fee: $ <%= @invoice.monthly_fee %>
<br>
# of Transactions: <%= @invoice.transactions %>
<br>
Transactions Fee: $ <%= @invoice.trans_fee %>
<br>
Total Amount Billed: $ <%= @invoice.amount %>
</div>
<%= link_to 'Back', invoices_path %>
