<h1>Listing deals</h1>

<table>
	<tr>
		<th>Title</th>
		<th>Location</th>
		<th>Description</th>
		<th>Regular Price</th>
		<th>Discount Price</th>
		<th>Start Date</th>
		<th>End Date</th>
		<th>Expiry Date</th>
		<th>Max Per Person</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

	<% @deals.each do |deal| %>
	<tr>
		<td><%= deal.title %></td>
		<td><%= deal.location %></td>
		<td><%= deal.description %></td>
		<td><%= deal.regular_price %></td>
		<td><%= deal.discount_price %></td>
		<td><%= deal.start_date %></td>
		<td><%= deal.end_date %></td>
		<td><%= deal.expiry_date %></td>
		<td><%= deal.max_per_person %></td>
		<td><%= link_to 'Show', merchant_deal_path(@merchant,deal) %></td>
		<td><%= link_to 'Edit', edit_merchant_deal_path(@merchant,deal) %></td>
		<td><%= link_to 'Destroy', merchant_deal_path(@merchant,deal), :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
</table>

<br />

<%= link_to 'New Deal', new_merchant_deal_path %>
