<% content_for :script do %> <script type="text/javascript" src="/javascripts/desktop/src/site.js"></script>
<% end %>
<% if @merchant.nil? %> <!-- Main hero unit for a primary marketing message or
call to action
-->
<% if notice %>
<div style="display:none;" id="notice">
	<p><%= notice %></p>
</div>
<% end %>
<div class="row">
   <div class="span32">
      <!-- Greetings -->
      <% if @referral.nil? && !@show_reward %>
      <div id="greetingsPanel" class="row hide" style="min-height:140px;">
         <div class="span32 fade hide" id="referralsBrowserDialog">
            <h2>Who Recommended You To <%= @deal.merchant.name %>?</h2>
            <div class="referralsBrowserBody">
               <div class="referralsBrowserHeader">
                  <div class="filterBox hide">
                     <label for="friendSearchInput">Friend Search</label>
                     <div class="input"><input class="xlarge" id="friendSearchInput" name="friendSearchInput" size="30" type="text"/></div>
                  </div>
                  <strong style="font-size:120%">You need to be referred by a friend to be eligible for this deal.<br/>Which one of the following friends did you get your referral from?</strong>
               </div>
               <div id="referralsBrowserWrapper" class="listView">
                  <div class="scroller">
                     <ul></ul>
                  </div>
               </div>
               <div class="referralsBrowserFooter"></div>
            </div>
         </div>
         <div class="span32 fade hide" id="secretCodeDialog">
            <h2>No referrals were found from your Facebook Friends</h2>
            <div class="referralsBrowserBody form-stacked">
               <div class="referralsBrowserHeader">
                  <div class="inputBox">
                     <label for="secretCodeInput">Enter Secret Code:</label>
                     <div class="input"><input class="xlarge" id="secretCodeInput" name="secretCodeInput" size="30" type="text"/></div>
                     <button type="button" id="verifySecretCode" class="large primary btn"></button>
                  </div>
               </div>
            </div>
         </div>
         <div class="span32 fade hide" id="friendReferralLoadingMask">
            <h2>Looking for Referrals from your Facebook Friends ...</h2>
            <div class="referralsBrowserBody">
               <div style="margin-left:-16px;margin-top:-16px;position:absolute;top:50%;left:50%;">
                  <img src="http://photos.justformyfriends.com/large-loading.gif"/>
               </div>
            </div>
         </div>
      </div>
      <!-- Referral Msg -->
      <% else %>
      <div class="row span0abs span32 height0" id="referralsList">
         <div class="hero-unit hero-referrals">
               <p class="referralsHeader">Recommendation from others :</p>
               <div id="referralsWrapper">
                  <div class="scroller">
                     <ul></ul>
                  </div>
               </div>
               <div class="referralsFooter">
                  <p>
                     <a onclick="Site.backtoMain();" class="btn large">Back to Main &raquo;</a>
                  </p>
               </div>
         </div>
      </div>
      <!-- Main Panel Msg -->
      <div id="mainMsg" class="row noMargin">
         <a name="mainMsg"></a>
         <div class="slides_container">
            <% if @referral.nil? %>
            <div class="span32">
               <div class="hero-unit hero-mainMsg">
                  <img class="gift right" src="http://photos.justformyfriends.com/gift.png"/>
                  <h3 style="padding:20px 0;font-size:250%;">Refer friends and get a <br/><%= @deal.reward_title %> plus the option to purchase the great deal below!</h3>
                  <small>
                     Get a <%= @deal.reward_title %> when you spread this deal to your Facebook Friends<br/>(*limited quantity).
                  </small>
                  <p class="mainMsgFooter">
                      <% if signed_in? %>
                     <a class="btn fbtag large">Refer your Friends! &raquo;</a>
                     <% else %>
                     <a class="btn fbtag large" onclick="Genesis.loginPopup();">Refer your Friends! &raquo;</a>
                     <% end %>
                  </p>
               </div>
            </div>
            <% end %>
            <% if signed_in? %>
            <div class="span32">
               <div class="hero-unit hero-referral">
                  <p class="referralHeader">
                     <a href="<%= "http://www.facebook.com/profile.php?id=#{current_user.facebook_id}" %>" target="_blank"><%= current_user.name.split(' ')[0] %></a>, write a recommendation to your friends and get rewarded!
                  </p>
                  <table class="referralWrapper">
                  <tr>
                     <td>
                     <img src="<%= "http://graph.facebook.com/#{current_user.facebook_id}/picture?type=normal&" %>"/>
                     </td>
                     <td>
                     <form>
                        <% @deal.referral_subjects.each do |subject| %>
                        <label class="alignLeft">
                           <%= subject.content %>
                        </label>
                        <textarea></textarea>
                        <% end %>
                        <label class="noWrap" style="float:right;width:auto;">
                           <button type="button" id ="reward" class="btn rewardtag large"></button>
                     </form></td>
                  </tr>
                  </table>
               </div>
            </div>
            <% end %>
            <% if @referral %>
            <div id="recommendation" class="span32">
               <div class="hide loadingMask">
                  <img src="http://photos.justformyfriends.com/large-loading.gif"/>
               </div>
               <div class="loadMask hide"></div>
               <div class="hero-unit hero-referral">
                  <p class="referralHeader">
                     Recommendation from <% if signed_in? && @referral.creator.id == current_user.id %> you<% else %> your friend<% end %>, <a href="<%= "http://www.facebook.com/profile.php?id=#{@referral.creator.facebook_id}" %>" target="_blank"><%= @referral.creator.name[0..31] %></a>:
                  </p>
                  <div class="referralWrapper">
                     <table>
                     <tr>
                        <td width="100">
                        <img src="<%= "http://graph.facebook.com/#{@referral.creator.facebook_id}/picture?type=normal&" %>"/>
                        </td>
                        <td>
                        <table class="noBorder noMargin">
                           <tr class="hero-start">
                              <td>&#160;</td>
                              <td>
                                 <p><%= @referral.comment %></p>
                              </td>
                              <td>&#160;</td>
                           </tr>
                           <tr class="hero-end">
                              <td>&#160;</td>
                              <td>&#160;</td>
                              <td>&#160;</td>
                           </tr>
                        </table>
                        </td>
                     </tr>
                     <tr>
                        <td colspan="2" style="padding-top:0;">
                        <% referrers = get_referrers(@deal.id, @referral.creator.id, 10) %>    
                        <% if referrers[:total] > 0 %>               
                        <div style="float:left;">
                           <a onclick="Site.getReferrals(<%= "#{@referral.referral_id}" %>);" style="cursor:pointer;"><%= referrers[:total] %> other <% if referrers[:total] == 1 %>person<% else %>people<% end %> also recommend <%= @deal.merchant.name %></a>
                           <table style="border:0;padding:0;margin:0;">
                              <tr>
                              <% referrers[:items].each do |referrer| %>
                              <td style="padding:0 1px 0 0;border:0;margin:0;width:36px;">
                                 <img  style="cursor:pointer;" onclick="Site.getReferrals(<%= "#{@referral.referral_id}" %>);" width="36" src="<%= "http://graph.facebook.com/#{referrer.facebook_id}/picture?type=square&" %>">
                              </td>                           
                              <% end %>
                              <% (1..10-referrers[:items].to_a.length).each do |i| %>
                              <td style="padding:0 1px 0 0;border:0;margin:0;width:36px;">
                              </td>
                              <% end %>
                              </tr>
                           </table>
                        </div>
                        <% end %>
                        <div style="float:right;">
                           <!--<a  id="referralsBtn" class="btn large">Check out all our Referrals! &raquo;</a>-->
                           <a  id="discussBtn" href="#comments" class="btn large">Discuss with <%= @referral.creator.name.split(' ')[0] %>! &raquo;</a>
                        </div>
                        </td>
                     </tr>
                     </table>
                  </div>
               </div>
            </div>
            <% end %>
         </div>
      </div>
      <% end %>
   </div>
</div>
<div class="row">
   <div class="span22">
      <!-- Deal Panel Msg -->
      <div id="mainDeal" class="row">
         <div class="span22">
            <h2><%= raw @deal.title %></h2>
            <div id="container">
               <div id="slides">
                  <div class="slides_container">
                     <% @deal.photo_urls.split(/\r/).each do |photo_url| %>
                     <div class="slide">
                        <img width="710" src="<%= photo_url %>">
                     </div>
                     <% end %>
                  </div>
               </div>
            </div>
            <table id="deal_countdown" class="description_footer noMargin">
            <tr>
            <td>
            <div class="heading">Time Left to Buy</div>
            <h3>
            <% if @deal.end_date.to_date >= Date.today && @deal.limit_count < @deal.max_limit %>
            <script type="text/javascript" >
               var TargetDate = "<%= @deal.end_date.in_time_zone("Eastern Time (US & Canada)").change(:hour => 23, :min => 59, :sec => 59) %>";
               var BackColor = "";
               //var ForeColor = "#676767";
               var ForeColor = "black";
               var CountActive = true;
               var CountStepper = -1;
               var LeadingZero = true;
               var DisplayFormat = "%%D%% Days %%H%% Hrs %%M%% Mins %%S%% secs";
               var FinishMessage = "The deal is over. Better luck next time!";

            </script>
            <script type="text/javascript" src="/javascripts/desktop/lib/countdown.js"></script>
            <% else %>
            	The deal is over. Better luck next time!
            <% end %>
            </h3>
            </td>
            <td width="110">
               <% subdeal = @deal.subdeals.first %>
               <h3>C$<%= (subdeal.regular_price - subdeal.discount_price).to_i %> OFF</h3>
            <td width="120">
            <div>
            <% if @deal.end_date.to_date >= Date.today && @deal.limit_count < @deal.max_limit %> 	
            	<% if signed_in? %>	
            		<% if @referral %>
            		<a href="/deals/<%= @deal.deal_id %>/confirmation?referral_id=<%= @referral.referral_id %>" class="btn pricetag large alignCenter">Buy Now! &raquo;</a>
            		<% elsif @show_reward %>
            		<div id="referralWarning" class="modal fade hide">
               			<div class="modal-header">
                  			<a class="close">×</a>
                  			<h3>Friend Referral Required</h3>
               			</div>
               			<div class="modal-body" style="text-align:center;">
                  			You must send a friend referral before you can purchase this deal!
               			</div>
               			<div class="modal-footer">
                  			<a class="btn fbtag">Refer a Friend!</a>
                  			<a onclick="$('#referralWarning').modal('hide');" class="btn primary">OK</a>
               			</div>
            		</div>
            		<a data-controls-modal="referralWarning" data-backdrop="true" data-keyboard="true" class="btn pricetag large alignCenter">Buy Now! &raquo;</a>
            		<% else %>
            		<a class="btn pricetag large alignCenter disabled">Buy Now! &raquo;</a>
            		<% end %>
            	<% else %>
            	<a class="btn pricetag large alignCenter" onclick="Genesis.loginPopup();">Buy Now! &raquo;</a>
            	<% end %>
            <% else %>
            	<a class="btn large alignCenter">No Longer<br>Available</a>	
            <% end %>
            </div>
            </td>
            </tr>
         </table>
         </div>
      </div>
      <!-- Company Detail Info Msg -->
      <div class="row">
         <div class="span22">
             <h2>ABOUT THIS PLACE ...</h2>
              <div class="panelBodyHighlights" style=padding:20px;>
                 <%= raw @deal.description %>
              </div>
         </div>
      </div>
      <% if @referral %> 
      <!-- Deal Comments -->
      <div id="comments" class="hero-unit" style="margin:0;padding:10px 30px 30px;">
         <h4 id="discuss">Ask <%= @referral.creator.name.split(' ')[0] %> any questions about <%= @deal.merchant.name %> ...</h4>
         <fb:comments href="/deals/<%= @deal.deal_id %>?referral_id=<%= @referral.referral_id %>" num_posts="1" width="590"></fb:comments>
      </div>
      <% end %>
   </div>
   <div class="span10">
      <% if @referral %> 
      <div class="row">
         <div class="span10">
            <h2>SHARE</h2>
            <div class="panelBodyHighlights alignCenter" style="min-height:0px;">
               <div class="fb-like" data-send="true" data-layout="button_count" data-width="100" data-show-faces="true" data-font="verdana" data-href="<%= deal_url(@deal.deal_id) %>?referral_id=<%= @referral.referral_id %>"></div>
            </div>
         </div>
      </div>
      <% end %>
      <div class="row">
         <div class="span10">
            <h2>HIGHLIGHTS</h2>
            <div class="panelBodyHighlights">
               <ul>
                  <% @deal.highlights.split(/\r/).each do |highlight| %>
                  <li>
                     <%= highlight %>
                  </li>
                  <% end %>
               </ul>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="span10">
            <h2>OFFER DETAILS</h2>
            <div class="panelBodyHighlights">
               <ul>
                  <% @deal.details.split(/\r/).each do |detail| %>
                  <li>
                     <%= detail %>
                  </li>
                  <% end %>
               </ul>
            </div>
         </div>
      </div>
      <!-- Company Location -->
      <div class="row">
         <div class="span10">
            <h2>LOCATION</h2>
            <div style="display:none">
               <div id="merchant_address1"><%= @deal.merchant.address1 %></div>
               <% if @deal.merchant.address2 && !@deal.merchant.address2.empty? %>
               <div id="merchant_address2"><%= @deal.merchant.address2 %></div>
               <% end %>
               <div id="merchant_phone"><%= @deal.merchant.phone %></div>
               <div id="merchant_city_state_zipcode"><%= @deal.merchant.city %>, <%= @deal.merchant.state %><br/> <%= @deal.merchant.zipcode %><br/></div>
            </div>
            <div class="panelBodyHighlights">
               <div id="gmap" class="" style="height:235px;width:100%;"></div>
               <div id="address">
                  <img width="120" class="" style="display:block;margin-bottom:10px;position:absolute;top:0;right:0;" src="<%= @deal.merchant.photo_url %>"/>
                  <!--
                  <p id="merchant_name"><%= @deal.merchant.name %></p>
                  -->
                  <p id="merchant_address"></p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<% else %>
<p id="notice">
   <%= notice %>
</p>
<p>
   <b>Title:</b>
   <%= @deal.title %>
</p>
<p>
   <b>Location:</b>
   <%= @deal.location %>
</p>
<p>
   <b>Photo Urls</b>
   <%= @deal.photo_urls %>
</p>
<p>
   <b>Description:</b>
   <%= @deal.description %>
</p>
<p>
   <b>Hightlights:</b>
   <%= @deal.highlights %>
</p>
<p>
   <b>Details:</b>
   <%= @deal.details %>
</p>
<p>
   <b>Start Date:</b>
   <%= @deal.start_date %>
</p>
<p>
   <b>End Date:</b>
   <%= @deal.end_date %>
</p>
<p>
   <b>Expiry Date:</b>
   <%= @deal.expiry_date %>
</p>
<p>
   <b>Max Per Person:</b>
   <%= @deal.max_per_person %>
</p>
<p>
   <b>Max Limit:</b>
   <%= @deal.max_limit %>
</p>
<p>
	<b>Reward Title:</b>
	<%= @deal.reward_title %>
</p>
<p>
	<b>Reward Details:</b>
	<%= @deal.reward_details %>
</p>
<p>
   <b>Reward Expiry Date:</b>
   <%= @deal.reward_expiry_date %>
</p>
<p>
	<b>Max Reward:</b>
	<%= @deal.max_reward %>
</p>
<p>
	<b>Reward Secret Code:</b>
	<%= @deal.reward_secret_code %>
</p>

<% @deal.subdeals.each do |subdeal| %>
<p>
   <b>Subdeal Title:</b>
   <%= subdeal.title %>
</p>
<p>
   <b>Subdeal Coupon Title:</b>
   <%= subdeal.coupon_title %>
</p>
<p>
   <b>Regular Price:</b>
   <%= subdeal.regular_price %>
</p>
<p>
   <b>Discount Price:</b>
   <%= subdeal.discount_price %>
</p>
<% end %>
<% @deal.referral_subjects.each do |subject| %>
<p>
   <b>Referral Seq#:</b>
   <%= subject.seq_num %>
</p>
<p>
   <b>Referral Subject:</b>
   <%= subject.content %>
</p>
<% end %>
<% if @merchant %>
<%= link_to 'Edit', edit_merchant_deal_path(@merchant,@deal) %> |
<%= link_to 'Back', merchant_deals_path %>
<% end %>
<% end %> 