<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<div>
			<table cellspacing="0" cellpadding="0" width="480" border="0" align="center" bgcolor="#ffffff" style="font-size:12px;color:#444;font-family:arial,sans-serif">
				<tbody>
					<tr>
						<td align="left">
						<div style="background:#0A78BE;padding: 20px 15px;border-radius:0.6em;">
							<a href="http://www.getkickbak.com" target="_blank"> <img src="http://files.getkickbak.com/v1/logo.png" width="100" border="0" alt="KICKBAK"> </a>
						</div></td>
						<td></td>
					</tr>
					<tr>
						<td height="10"></td><td></td>
					</tr>
					<tr>
						<td style="border-top:1px solid #ccc;padding:10px 15px">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tbody>
								<tr valign="middle">
									<td valign="top" style="width:50px;padding-right:10px;padding-bottom: 10px;">
										<%= link_to image_tag(@customer.merchant.photo.thumbnail_ios_small.url), business_profile_url(@customer.merchant) %>
									</td>
									<td>
									<b><a rel="nofollow" target="_blank" style="text-decoration: none;" href="<%= business_profile_url(@customer.merchant) %>"><%= "#{@customer.merchant.name}" %></a></b>	
									<br>
									<br>
									<b>Hi <%= @customer.user.name.split(' ')[0] %>,</b>
									<br>
									<br>
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tbody>
										<tr>
											<td colspan="2" style="padding-bottom: 10px;">
											Thank you for your recent visit to <a rel="nofollow" target="_blank" style="text-decoration: none;" href="<%= business_profile_url(@customer.merchant) %>"><%= "#{@customer.merchant.name}" %></a>.
											</td>
										</tr>
										<% if @reward_info[:birthday_points] > 0 %>
										<tr style="background-color:#f3f3f4;">
											<td style="padding:5px 5px 5px 10px;">
											Happy Birthday! To celebrate your big day, you are given <b style="color:#e65407;"><%= "#{@reward_info[:birthday_points]}" %> bonus points</b>!
											</td>
											<td style="padding:5px 10px 5px 5px;">
												<img style="width:40px;" src="http://files.getkickbak.com/v1/icons/mainicons/ios/mxhdpi/birthday.png">
											</td>
										<tr>
										<% end %>
										<% if @reward_info[:badge_points] > 0 %>
										<% Common.populate_badge(@customer.badge, :iphone, :mxhdpi) %>
										<tr style="background-color:#f3f3f4;">
											<td style="padding:5px 5px 5px 10px;">
											<% if @reward_info[:birthday_points] > 0 %>
												You are also promoted to <b style="color:#c41200;"><%= "#{@customer.badge.type.display_value}" %></b>
											<% else %>
												You just got promoted to <b style="color:#c41200;"><%= "#{@customer.badge.type.display_value}" %></b>
											<% end %>
												and rewarded with extra <b style="color:#e65407;"><%= "#{@reward_info[:badge_points]}" %> points</b>.
											</td>
											<td style="padding:5px 10px 5px 5px;">
												<img style="width:40px;" src="<%= @customer.badge.custom ? @customer.badge.custom_type.thumbnail_medium_url : @customer.badge.type.thumbnail_medium_url %>">
											</td>
										</tr>
										<% end %>
										<% if @reward_info[:prize_points] > 1 %>
										<% if @reward_info[:birthday_points] > 0 || @reward_info[:badge_points] > 0 %>
										<tr>
											<td colspan="2" style="padding: 10px 0 10px 0;">
											And just when you think things can't get any better ...
											</td>
										</tr>
										<% end %>
										<tr style="background-color:#f3f3f4;">
											<td style="padding:5px 5px 5px 10px;">
											<% if @reward_info[:birthday_points] == 0 %>
												Congrats! 
											<% end %>
												You won a jackpot of <b style="color:#e65407;"><%= "#{@reward_info[:prize_points]}" %> prize points</b>! Someone is lucky today.
											</td>
											<td style="padding:5px 10px 5px 5px;">
												<img style="width:40px;" src="http://files.getkickbak.com/v1/icons/mainicons/ios/mxhdpi/prizes.png">
											</td>
										</tr>
										<% end %>
										<tr>
											<td colspan="2" style="padding-top: 10px;">
												That's what we call customer love. <a rel="nofollow" target="_blank" style="text-decoration: none;" href="<%= business_profile_url(@customer.merchant) %>">Find out what you can redeem now!</a>
											</td>
										</tr>
										</tbody>
									</table>
									<br>
									<br>
									</td>
								</tr>
							</tbody>
						</table>
						<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-top:1px solid #ccc">
							<tbody>
								<tr>
									<td align="center">
									<br>
										Questions or comments? Email us at <a rel="nofollow" ymailto="mailto:help@getkickbak.com" target="_blank" style="text-decoration: none;" href="mailto:help@getkickbak.com">help@getkickbak.com</a>
									<br>
									<br>
										Thanks from the <a rel="nofollow" target="_blank" style="text-decoration: none;" href="<%= root_url %>">KICKBAK</a> team.
									<br>
									<br>
										<div style="font-size:10px;">
											If you would like to change your email notification settings,
											<a rel="nofollow" target="_blank" style="text-decoration: none;" href="<%= account_subscriptions_url %>">click here</a>
										</div>	
									<br>
									<br>
									</td>
								</tr>
							</tbody>
						</table></td>
						<td style="vertical-align:top;padding-left:7px"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>