<%= simple_form_for [@merchant, @device], :html => { :class => 'form-horizontal' } do |f| %>
<fieldset>
    <%= f.input :venue_id, :collection => @merchant.venues.all(:status => :active, :order => [ :id.asc ]),
		:label_method => :name,
		:value_method => :id,
		:include_blank => "", :input_html=>{:class => "input-xxlarge"} %>
	<%= f.input :device_id, :label => 'Device ID', :input_html=>{:class => "input-xxlarge"} %>
	<%= f.input :status, :collection => Device::Statuses, :input_html=>{:class => "input-medium"}%>
   <br />
   <div class="form-actions">
      <%= f.button :submit , "#{f.object.new? ? 'Create' : 'Update'}", :class => 'btn btn-primary' %>
      <% if f.object.new? %>
      <%= link_to("Cancel", merchant_devices_path(@merchant), :class => 'btn') %>
      <% else %>
      <%= link_to("Cancel", merchant_device_path(@merchant,@device), :class => 'btn') %>
      <% end %>
   </div>
   <!-- /form-actions -->
</fieldset>
<% end %>