<% content_for :script do %>
<script type="text/javascript">
	$(document).ready($(function() {
	var notice_msg=$("#notice").html();
	if(notice_msg) {
	Genesis.showWarningMsg(notice_msg,null,true);
	}
	}));
</script>
<script type="text/javascript" src="/javascripts/desktop/src/base.js"></script>
<% end %>
<% if flash[:notice] %>
<div style="display:none;" id="notice">
	<p>
		<%= flash[:notice] %>
	</p>
</div>
<% end %>
<div class="main">
	<div class="main-inner">
		<div class="container">
			<div class="row">
				<div class="span12">
					<div class="widget widget-table action-table">
						<div class="widget-header">
							<i class="icon-cogs"></i>
							<h3>Devices Listing (<%= link_to("New Device", new_merchant_device_path(@merchant)) %>)</h3>
						</div>
						<div class="widget-content">
							<div class="paginate">
								<%= will_paginate @devices %>
							</div>
							<table class="table table-striped table-bordered">
								<thead>
									<tr>
										<th>Serial#</th>
										<th class="td-actions">Venue</th>
										<th class="td-actions">Status</th>
										<th class="td-actions">Actions</th>
									</tr>
								</thead>
								<tbody>
									<% @devices.each do |device| %>
									<tr>
										<td><%= link_to device.device_id, merchant_device_path(@merchant, device) %></td>
										<td class="td-actions"><%= device.merchant_venue.name %></td>
										<td class="td-actions"><%= device.status %></td>
										<td class="td-actions"><!-- --> 
											<%= link_to(edit_merchant_device_path(@merchant, device), :class=>"btn btn-small btn-warning", :title=>"edit") do %> 
											<!-- -->
											<i class="btn-icon-only icon-edit"></i><!-- --> 
											<% end %>
											<%= link_to merchant_device_path(@merchant, device), :data => { :confirm => 'Do you want to delete this device' }, :method => :delete, :class=>"btn btn-small", :title=>"delete" do %>
                              				<!-- -->
                              				<i class="btn-icon-only icon-remove"></i>
                              				<!-- -->
                              				<% end %>
                              			</td>
									</tr>
									<% end %>
									<% if @devices.length == 0 %>
									<tr>
										<td colspan="4" class="no-data">You have no devices at the moment.</td>
									</tr>
									<% end %>
								</tbody>
							</table>
							<div class="paginate">
								<%= will_paginate @devices %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>