<div class="content row">
<%= simple_form_for @merchant, :url => update_account_path do |f| %>
	<%= f.input :name %>
	<%= f.input :email %>
	<%= f.input :account_first_name %>
	<%= f.input :account_last_name %>
	<%= f.input :phone %>
	<%= f.input :current_password %>
	<%= f.input :password %>
	<%= f.input :password_confirmation %>
	<%= f.button :submit, :class => "btn primary noWrap" %>
<% end %>
</div>
