<p id="notice"><%= notice %></p>
<div class="content row">
<p>
  <b>Name:</b>
  <%= @merchant.name %>
</p>

<p>
  <b>Description:</b>
  <%= @merchant.description %>
</p>

<p>
  <b>Email:</b>
  <%= @merchant.email %>
</p>

<p>
  <b>Account First Name</b>
  <%= @merchant.account_first_name %>
</p>

<p>
  <b>Account Last Name</b>
  <%= @merchant.account_last_name %>
</p>

<p>
  <b>Phone:</b>
  <%= @merchant.phone %>
</p>

<% if not @merchant.webiste.empty? %>
<p>
  <b>Website</b>
  <%= @merchant.website %>
</p>
<% end %>
</div>
<%= link_to 'Edit', edit_account_path %> |
<%= link_to 'Back', account_path %>
