<% content_for :link do %>
<% end %>
<% content_for :script do %>
<script type="text/javascript">
	$(document).ready($(function() {
	var msg=$("#notice").html();
	if(msg) {
	Genesis.showWarningMsg(msg,null,true);
	}
	}));
</script>
<script type="text/javascript" src="/javascripts/desktop/src/base.js"></script>
<% end %>
<% if flash[:notice] %>
<div style="display:none;" id="notice">
	<p>
		<%= flash[:notice] %>
	</p>
</div>
<% end %>
<div id="main" class="main">
	<div class="main-inner">
		<div class="container">
			<div class="row">
				<div class="span3">
					<div class="widget">
						<div class="widget-content">
							<%= render 'menu' %>
						</div>
					</div>
				</div>
				<div class="span9">
					<div class="widget">
						<div class="widget-content">
							<h3>Basic Info</h3>
							<div class="not-edit form-horizontal">
								<div class="control-group">
									<label class="control-label">Name:</label>
									<div class="controls">
										<%= @merchant.name %>
									</div>
								</div>

								<div class="control-group">
									<label class="control-label">Description:</label>
									<div class="controls">
										<%= @merchant.description %>
									</div>
								</div>

								<div class="control-group">
									<label class="control-label">Email:</label>
									<div class="controls">
										<%= @merchant.email %>
									</div>
								</div>

								<div class="control-group">
									<label class="control-label">Account First Name:</label>
									<div class="controls">
										<%= @merchant.account_first_name %>
									</div>
								</div>

								<div class="control-group">
									<label class="control-label">Account Last Name:</label>
									<div class="controls">
										<%= @merchant.account_last_name %>
									</div>
								</div>

								<div class="control-group">
									<label class="control-label">Phone:</label>
									<div class="controls">
										<%= number_to_phone(@merchant.phone) %>
									</div>
								</div>

								<% if not @merchant.website.empty? %>
								<div class="control-group">
									<label class="control-label">Website:</label>
									<div class="controls">
										<%= @merchant.website %>
									</div>
								</div>
								<% end %>
								
								<% if not @merchant.facebook_page_id.empty? %>
								<div class="control-group">
									<label class="control-label">Facebook Page ID:</label>
									<div class="controls">
										<%= @merchant.facebook_page_id %>
									</div>
								</div>
								<% end %>
								<%= link_to 'Edit', edit_account_path %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /main-inner -->
</div>
<!-- /main -->
<!--
<%= link_to 'Back', account_path %>
-->