<% content_for :link do %>
<% end %>
<% content_for :script do %>
<script type="text/javascript">
	$(document).ready($(function() {
	var msg=$("#notice").html();
	if(msg) {
	Genesis.showWarningMsg(msg,null,true);
	}
	}));
</script>
<script type="text/javascript" src="/javascripts/desktop/src/base.js"></script>
<% end %>
<% if flash[:notice] %>
<div style="display:none;" id="notice">
	<p>
		<%= flash[:notice] %>
	</p>
</div>
<% end %>
<div class="main">
	<div class="main-inner">
		<div class="container">
			<div class="row">
				<div class="span9">
					<div class="widget ">
						<div class="widget-header">
							<i class="icon-user"></i>
							<h3>Your Account</h3>
						</div>
						<!-- /widget-header -->
						<div class="widget-content">
							<div class="tabbable">
								<ul class="nav nav-tabs">
									<li class="active">
										<a href="#profile" data-toggle="tab">Profile</a>
									</li>
								</ul>
								<br>
								<div class="tab-content">
									<div class="tab-pane active" id="profile">
										<div class="not-edit form-horizontal">
											<div class="control-group">
												<label class="control-label">Name:</label>
												<div class="controls">
													<%= @merchant.name %>
												</div>
											</div>

											<div class="control-group">
												<label class="control-label">Description:</label>
												<div class="controls">
													<%= @merchant.description %>
												</div>
											</div>

											<div class="control-group">
												<label class="control-label">Email:</label>
												<div class="controls">
													<%= @merchant.email %>
												</div>
											</div>

											<div class="control-group">
												<label class="control-label">Account First Name:</label>
												<div class="controls">
													<%= @merchant.account_first_name %>
												</div>
											</div>

											<div class="control-group">
												<label class="control-label">Account Last Name:</label>
												<div class="controls">
													<%= @merchant.account_last_name %>
												</div>
											</div>

											<div class="control-group">
												<label class="control-label">Phone:</label>
												<div class="controls">
													<%= @merchant.phone %>
												</div>
											</div>

											<% if not @merchant.website.empty? %>
											<div class="control-group">
												<label class="control-label">Website:</label>
												<div class="controls">
													<%= @merchant.website %>
												</div>
											</div>
											<% end %>
											<%= link_to 'Edit', edit_account_path %>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /widget-content -->
					</div>
					<!-- /widget -->
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /main-inner -->
</div>
<!-- /main -->
<!--
<%= link_to 'Back', account_path %>
-->
