<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>JustForMyFriends</title>
		<!--
		<%= stylesheet_link_tag :all %>
		<%= javascript_include_tag :defaults %>
		-->
		<link rel="icon" href="http://photos.justformyfriends.com/favicon.ico" type="image/x-icon">
		<link rel="shortcut icon" href="http://photos.justformyfriends.com/favicon.ico" type="image/x-icon">
		<link rel="stylesheet/less" href="/javascripts/desktop/lib/twitter-bootstrap-3c3d596/lib/bootstrap.less"/>
		<link rel="stylesheet" href="/javascripts/desktop/lib/twitter-bootstrap-3c3d596/docs/assets/css/docs.css"/>
		<link rel="stylesheet" href="/stylesheets/application.css"/>
		<!--
		<link rel="stylesheet" href="/javascripts/desktop/lib/jquery-ui-1.8.16.custom/css/south-street/jquery-ui-1.8.16.custom.css"/>
		<script type="text/javascript" src="/javascripts/desktop/lib/jquery.xdomainajax.js"></script>
		-->
		<script type="text/javascript" src="/javascripts/desktop/lib/date.js"></script>
		<script type="text/javascript" src="/javascripts/desktop/lib/Datejs-all/src/extras.js"></script>
		<script type="text/javascript">
var clientTime=new Date();

		</script>
		<script type="text/javascript" src="/javascripts/desktop/less-1.1.4.min.js"></script>
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places&amp;sensor=true"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/javascripts/jquery_ujs.js"></script>
		<script type="text/javascript" src="/javascripts/desktop/lib/cubiq-iscroll-8165866/src/iscroll.js"></script>
		<script type="text/javascript" src="/javascripts/desktop/lib/twitter-bootstrap-3c3d596/js/bootstrap-modal.js"></script>
		<script type="text/javascript" src="/javascripts/desktop/lib/twitter-bootstrap-3c3d596/js/bootstrap-alerts.js"></script>
		<script type="text/javascript" src="/javascripts/desktop/lib/twitter-bootstrap-3c3d596/js/bootstrap-dropdown.js"></script>
		<script type="text/javascript" src="/javascripts/desktop/lib/twitter-bootstrap-3c3d596/js/bootstrap-tabs.js"></script>
		<script type="text/javascript" src="/javascripts/application.js"></script>
		<script type="text/javascript" src="/javascripts/desktop//lib/fridek-gmap-f5658d5/jquery.gmap.min.js"></script>
		<script type="text/javascript" src="/javascripts/desktop//lib/Slides/source/slides.min.jquery.js"></script>
		<script type="text/javascript" src="/javascripts/desktop/lib/carhartl-jquery-cookie-575a419/jquery.cookie.js"></script>
		<script type="text/javascript" src="/javascripts/desktop/src/common.js"></script>
		<%= yield :script %>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<div id="topbar" class="topbar">
			<div class="topbar-inner noWrap">
				<div class="container">
					<h3><a href="/"><img width="200" style="position:absolute;top:0px;left:-10px;" src="http://photos.justformyfriends.com/logo.png"/>JustForMyFriends</a></h3>
					<ul class="nav secondary-nav">
						<% if signed_in? %>
						<li class="">
							<a href="/sign_out">Sign Out</a>
						</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
		<div name="top" class="container">
			<div style="margin-top:100px;" >
				&#160;
			</div>
			<div class="clearfix"></div>
			<div class="alert-message warning fade hide">
				<a class="close">x</a>
			</div>
			<div class="alert-message error fade hide">
				<a class="close">x</a>
			</div>
			<%= yield %> <!-- Footer  -->
			<footer>
				<div class="right">
					<% if signed_in? %> <a href="/merchant_terms">terms</a> |
					<% end %> <a href="/contact_us">contact us</a>
				</div>
				<p>
					&copy;JustForMyFriends 2011
				</p>
			</footer>
		</div>
	</body>
</html>
