<% content_for :link do %>
<% end %>
<% content_for :script do %>
<script type="text/javascript">
	$(document).ready($(function() {
	var msg=$("#notice").html();
	if(msg) {
	Genesis.showWarningMsg(msg,null,true);
	}
	}));
</script>
<script type="text/javascript" src="/javascripts/desktop/src/base.js"></script>
<% end %>
<% if flash[:notice] %>
<div style="display:none;" id="notice">
	<p>
		<%= flash[:notice] %>
	</p>
</div>
<% end %>
<div id="main" class="main">
	<div class="main-inner">
		<div class="container">
			<div class="row">
				<div class="span3">
					<div class="widget">
						<div class="widget-content">
							<%= render 'menu' %>
						</div>
					</div>
				</div>
				<div class="span9">
					<div class="widget">
						<div class="widget-content">
							<h3>Update Password</h3>
							<div style="margin:20px 0 10px 0;">
								<p>
									<%= simple_form_for @staff, :url => update_account_password_path, :html => { :class => 'form-horizontal' } do |f| %>
									<fieldset>
										<%= f.input :current_password, :required => false, :input_html=>{:class => "input-medium"} %>
										<%= f.input :password, :label => "New password", :required => false, :input_html=>{:class => "input-medium"} %>
										<%= f.input :password_confirmation, :required => false, :input_html=>{:class => "input-medium"} %>
										<br />
										<div class="form-actions">
											<%= f.button :submit , "Update", :class => 'btn btn-primary' %>
											<%= link_to("Cancel", account_password_path, :class => 'btn') %>
										</div>
										<!-- /form-actions -->
									</fieldset>
									<% end %>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /main-inner -->
</div>
<!-- /main -->
<!--
<%= link_to 'Back', account_path %>
-->