<div class="subnavbar"></div>
<div class="main">
   <div class="row-fluid">
      <div class="span3"></div>
      <div class="span6">
         <ul class="nav nav-list well">
            <li class="nav-header"> Password Change </li>
            <%= simple_form_for resource, :url => password_path(resource_name), :html => { :method => :put } do |f| %>
            <%= f.input :reset_password_token, :as => :hidden %>
            <%= f.input :password, :label => "New password", :input_html => { :class => 'input-xxlarge'  %>
            <%= f.input :password_confirmation, :label => "Confirm new password", :input_html => { :class => 'input-xxlarge'  %>
            <%= f.button :submit, "Update", :class => 'btn primary' %>
            <% end %>
         </ul>
      </div>
   </div>
</div>