<div class="content">
	<div style="margin:auto;width:500px;padding: 20px; border: 1px solid;">
		<h3 class="alignCenter">Change your password</h3>
		<%= simple_form_for resource, :url => password_path(resource_name), :html => { :method => :put } do |f| %>
		<%= f.input :reset_password_token, :as => :hidden %>
		<%= f.input :password, :label => "New password" %>
		<%= f.input :password_confirmation, :label => "Confirm new password" %>
		<%= f.button :submit, "Update", :class => 'btn primary' %>
		<% end %>
	</div>
</div>