<%= render 'layouts/business/tabs' %>
<%= form_tag coupons_path, :class => 'form-stacked marchant-form', :method => 'get' do %>
<div>
   <%= label_tag do  %> <h3>Enter Coupon Code</h3> <% end %>
   <%= text_field_tag :search, params[:search], :class => 'xxlarge' %>
   <%= submit_tag "Lookup Coupon", :type => 'submit', :name => nil, :style => 'line-height:34px;', :class => 'btn large right' %>
   <% if @coupon %>
   <%= label_tag do  %> <h3 style='margin-top:20px;'>Results</h3> <% end %>
   <table style="margin-bottom:0px;margin-top:20px;background:white;">
      <thead>
         <tr>
            <th class="green ">Coupon#</th>
            <th class="green ">Order#</th>
            <th class="green ">Value</th>
            <th class="green ">Status</th>
            <th class="green ">Redemption Date</th>
            <th class="green ">Action</th>
         </tr>
      </thead>
      <tr>
         <td class=""><%= @coupon.coupon_id %></td>
         <td class=""><%= @coupon.order.order_id %></td>
         <td class="">C$<%= @subdeal.regular_price.to_i %></td>
         <td class=""><%= @coupon.redeemed ? "Redeemed" : "Not Redeemed"%></td>
         <td class=""><%= @coupon.redeemed ? @coupon.update_ts.strftime("%b %d, %Y") : "Not Yet" %></td>
         <% if @coupon.redeemed? %> <td class="">Nothing</td>
         <% else %> <td class=""><%= link_to 'Redeem', redeem_coupon_url(@coupon) %></td>
         <% end %>
      </tr>
   </table>
   <% elsif defined? @coupon %> <h3 style="text-align:center;margin-top:100px;"> No Vouchers were found </h3>
   <% end %>
</div>
<% end %> 