<% content_for :link do %>
<link rel="stylesheet" href="/javascripts/desktop/css/homepage.css"/>
<!--[if lt IE 9]>
<link rel="stylesheet" href="/javascripts/desktop/css/homepage-ie8.css"/>
<![endif]-->
<% end %>
<div class="content">
	<div class="well" style="margin:auto;width:500px;padding: 20px; border: 1px solid;">
		<h3 class="alignCenter">Sign In to KICKBAK</h3>
		<% if flash[:alert] %>
		<div class="alert alert-error">
		<% flash.each do |name, msg| %>
		<%= content_tag :div, msg, :id => "flash_#{name}", :style => 'margin:auto;' %>
		<% end -%>
		</div>
		<% end %>
		<%= simple_form_for resource, :url => session_path(resource_name), :html => { :class => 'form-vertical' }  do |f| %>
		<%= f.input :email %>
		<%= f.input :password %>
		<% if devise_mapping.rememberable? %>
		<%= f.input :remember_me, :as => :boolean, :label => false, :inline_label => true %>
		<% end %>
		<%= f.button :submit, "Sign In", :class => 'btn primary' %>
		<div style="margin-top:10px;">
			<%= render :partial => "business/merchant_devise/shared/links" %>
		</div>
		<% end %>
	</div>
</div>
