<% content_for :script do %> 
<script type="text/javascript" src="/javascripts/desktop/src/business/challenge.js"></script>
<% end %>
<%= simple_form_for @challenge do |f| %>
	<%= f.input :type, :collection => @available_challenge_types %>
	<div class="">
	<% if @challenge.type == 'menu' %>
		<div>
			<label>When someone buys a</label><input id="challenge_name" name="challenge[name]" type="text" class="textfield" placeholder="Name"/>
		</div>
		<%= f.input :description, :as => :hidden %>
		<%= f.input :require_verif, :as => :hidden %>
		<div>
			<label>they will get</label><input id="challenge_points" name="challenge[points]" type="text" class="textfield" placeholder=""/><span>points</span>
		</div>
	<% elsif @challenge.type == 'checkin' %>
		<div>
			<label>When someone visits</label><%= f.input :name, :as => :hidden %>
			<input id="challenge_check_in_data_visits" name="challenge[check_in_data][visits]" type="text" class="textfield" placeholder=""/><span>times</span>
		</div>
		<%= f.input :description, :as => :hidden %>
		<%= f.input :require_verif, :as => :hidden %>
		<div>
			<label>they will get</label><input id="challenge_points" name="challenge[points]" type="text" class="textfield" placeholder=""/><span>points</span>
		</div>
	<% elsif @challenge.type == 'picture' %>
		<div>
			<label>When someone shares a picture with their friends through social media</label><%= f.input :name, :as => :hidden %>
		</div>
		<%= f.input :description, :as => :hidden %>
		<%= f.input :require_verif, :as => :hidden %>
		<div>
			<label>they will get</label><input id="challenge_points" name="challenge[points]" type="text" class="textfield" placeholder=""/><span>points</span>
		</div>
	<% elsif @challenge.type == 'referral' %>
		<div>
			<label>When someone refers a friend</label><%= f.input :name, :as => :hidden %>
		</div>
		<%= f.input :description, :as => :hidden %>
		<%= f.input :require_verif, :as => :hidden %>
		<div>
			<label>they will get</label><input id="challenge_points" name="challenge[points]" type="text" class="textfield" placeholder=""/><span>points</span>
		</div>
	<% elsif @challenge.type == 'birthday' %>
		<div>
			<label>When someone visits on a birthday</label><%= f.input :name, :as => :hidden %>
		</div>
		<%= f.input :description, :as => :hidden %>
		<%= f.input :require_verif, :as => :hidden %>
		<div>
			<label>they will get</label><input id="challenge_points" name="challenge[points]" type="text" class="textfield" placeholder=""/><span>points</span>
		</div>
	<% elsif @challenge.type == 'lottery' %>
		<div>
			<label>When someone plays the lottery</label><%= f.input :name, :as => :hidden %>
		</div>
		<%= f.input :description, :as => :hidden %>
		<%= f.input :require_verif, :as => :hidden %>
		<div>
			<label>they will have the odds of one in</label><input id="challenge_lottery_data_odds" name="challenge[lottery_data][odds]" type="text" class="textfield" placeholder=""/><span>of winning and</span>
		</div>
		<div>
			<label>they will get</label><input id="challenge_points" name="challenge[points]" type="text" class="textfield" placeholder=""/><span>points</span>
		</div>
	<% elsif @challenge.type == 'custom' %>	
		<%= f.input :name %>
		<%= f.input :description, :as => :text, :input_html => { :rows => 10  } %>
		<%= f.input :require_verif, :as => :hidden %>
		<%= f.input :points %>
	<% end %>
	</div>
	<% if @challenge.type != '' %>
	<%= f.collection_check_boxes :venue_ids, current_merchant.venues, :id, :name %>
	<%= f.submit "Save", :class => "btn primary large noWrap", :disable_with => "Working..." %>
	<% end %>
<% end %>