<% content_for :script do %> <script type="text/javascript" src="/javascripts/desktop/src/business/challenge.js"></script>
<% end %>
<% content_for :link do %>
<link rel="stylesheet" href="/javascripts/desktop/css/add_business.css"/>
<!--[if lt IE 9]>
<link rel="stylesheet" href="/javascripts/desktop/css/add_business-ie8.css"/>
<![endif]-->
<% end %>
<div class="row-fluid">
   <div class="span3"></div>
   <div class="span6">
	<%= simple_form_for @challenge do |f| %>
	<%= f.input :type_id, :collection => @available_challenge_types %>
	<%= f.input :name %>
	<% if @challenge.type.value == 'custom' %>
	<%= f.input :description, :as => :text, :input_html => { :rows => 10 } %>
	<% else %>
	<%= f.input :description, :as => :text, :input_html => { :rows => 10, :disabled => true } %>
	<% end %>
	<%= f.input :require_verif, :as => :hidden %>
	<% if @challenge.data %>
	<%= f.simple_fields_for @data do |builder| %>
	<%= render "challenge_data", :f => builder, :type => @challenge.type.value %>
	<% end %>
	<% end %>
	<%= f.input :points %>
	<div class="venues">
		<div>
			Venues
		</div>
		<%= f.collection_check_boxes :venue_ids, current_merchant.venues, :id, :display_name, :checked => @venue_ids ,:item_wrapper_tag => :div, :item_wrapper_class => 'checkbox' %>
	</div>
	<%= f.button :submit, :class => "btn primary noWrap" %>
	<% end %>
</div>
