<% content_for :script do %>
<% end %>
<% content_for :link do %>
<% end %>
<div style="display:none;">
	<div id="price_per_point">
		<%= current_merchant.reward_model.price_per_point %>
	</div>
	<div id="rebate_rate">
		<%= current_merchant.reward_model.rebate_rate %>
	</div>
	<div id="price_per_prize_point">
		<%= current_merchant.reward_model.price_per_prize_point %>
	</div>
	<div id="prize_rebate_rate">
		<%= current_merchant.reward_model.prize_rebate_rate %>
	</div>
	<div id="badge_rebate_rate">
		<%= APP_PROP["badge_rebate_rate"] %>
	</div>
</div>
<%= simple_form_for @challenge, :html => { :class => 'form-horizontal' } do |f| %>
<fieldset>
   <%= f.input :type_id, :collection => @available_challenge_types, :input_html => {:class=>"input-large"} %>
   <%= f.input :name, :input_html => {:class=>"input-medium"} %>
   <% if @challenge.type.value == 'custom' %>
   <%= f.input :description, :as => :text, :input_html => { :rows => 10, :class=>"input-xxlarge" } %>
   <% else %>
   <%= f.input :description, :as => :text, :input_html => { :rows => 10, :disabled => true, :class=>"input-xxlarge" } %>
   <% end %>
   <%= f.input :require_verif, :as => :hidden %>
   <% if @challenge.data %>
   <%= f.simple_fields_for @data do |builder| %>
   <%= render "challenge_data", :f => builder, :type => @challenge.type.value %>
   <% end %>
   <% end %>
   <%= f.input :reward_amount, :input_html => {:class=>"input-medium"} %>
   <%= f.input :points, :input_html => {:disabled => 'disabled',:class=>"input-medium"} %>
   <%= f.input :venue_ids, :collection => current_merchant.venues.collect{ |p| [p.display_name, p.id, ] }, :as => :check_boxes, :checked => @venue_ids %>
   <br />
   <div class="form-actions">
      <%= f.button :submit , "Save", :class => 'btn btn-primary' %>
      <%= link_to("Cancel", challenges_path, :class => 'btn') %>
   </div>
   <!-- /form-actions -->
</fieldset>
<% end %>
