<h1>Listing Challenges</h1>

<table>
	<% @venues.each do |venue| %>
	<tr>
		<td><%= venue.name %></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<% venue.challenges.each do |challenge| %>
	<tr>
		<td><%= challenge.name %></td>
		<td><%= link_to 'Show', challenge_path(challenge) %></td>
		<td><%= link_to 'Edit', edit_challenge_path(challenge) %></td>
		<td><%= link_to 'Destroy', challenge_path(challenge), :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
	<% end %>
</table>

<br />

<%= link_to 'New Challenge', new_challenge_path %>
<% if current_merchant.status == :pending %>
 | <%= link_to 'Continue Setup', setup_path %>
<% end %>