<h1>Listing Challenges</h1>

<div class="content row">
	<% @venues.each do |venue| %>
	<div><%= venue.name %></div>
	<% venue.challenges.each do |challenge| %>
	<div>
		<div><%= link_to challenge.name, challenge_path(challenge) %></div>
		<div><%= link_to 'Edit', edit_challenge_path(challenge) %></div>
		<div><%= link_to 'Delete', challenge_path(challenge), :confirm => 'Are you sure?', :method => :delete %></div>
	</div>
	<% end %>
	<% end %>
</div>

<%= link_to 'New Challenge', new_challenge_path %>
<% if current_merchant.status == :pending %>
 | <%= link_to 'Continue Setup', setup_path %>
<% end %>