<% content_for :link do %>
<% end %>
<% content_for :script do %>
<script type="text/javascript" src="/javascripts/desktop/src/base.js"></script>
<% end %>
<div class="main">
   <div class="main-inner">
      <div class="container">
         <div class="row">
            <div class="span3">
               <div class="widget widget-table action-table">
                  <div class="widget-header">
                     <i class="icon-map-marker"></i>
                     <h3>Venues (<%= link_to("Show All", :controller => "challenges") %>)</h3>
                  </div>
                  <div class="widget-content">
                     <table class="table table-striped table-bordered">
                        <tbody>
                           <% @venues.each do |venue| %>
                           <tr>
                              <td class="td-description">
                              <!-- -->
                              <% if @display != "challenge" || venue.id != @venue.id %>
                              <%= link_to(venue.name, :controller => "challenges", :display => "challenge", :venue_id => venue.id) %>
                              <!-- -->
                              <% else %>
                              <%= link_to(venue.name, {:controller => "challenges", :display => "challenge", :venue_id => venue.id}, :class => "disabled") %>
                              <!-- -->
                              <% end %>
                              <!-- -->
                              </td>
                           </tr>
                           <% end %>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            <div class="span9">
               <% if @display != "challenge" %>
               <% challenges = @challenges %>
               <% title = "Merchant Challenges List" %>
               <% else %>
               <% challenges = @venue.challenges %>
               <% title = "Challenges for " + @venue.name %>
               <% end %>
               <div class="widget widget-table action-table">
                  <div class="widget-header">
                     <i class="icon-trophy"></i>
                     <h3><%= title %> (<%= link_to 'New Challenge', new_challenge_path %><% if current_merchant.status == :pending %> | <%= link_to 'Continue Setup', setup_path %><% end %>)</h3>
                  </div>
                  <div class="widget-content">
                     <table class="table table-striped table-bordered">
                        <tbody>
                           <% challenges.each do |challenge| %>
                           <tr>
                              <td><%= challenge.name %></td>
                              <td class="td-actions">
                              <!-- -->
                              <%= link_to edit_challenge_path(challenge), :class=>"btn btn-small btn-warning", :title=>"print" do %>
                              <!-- -->
                              <i class="btn-icon-only icon-edit"></i>
                              <!-- -->
                              <% end %>
                              <%= link_to challenge_path(challenge), :data => { :confirm => 'Are you sure?' }, :method => :delete, :class=>"btn btn-small", :title=>"delete" do %>
                              <!-- -->
                              <i class="btn-icon-only icon-remove"></i>
                              <!-- -->
                              <% end %>
                              <!-- -->
                              </td>
                           </tr>
                           <% end %>
                        </tbody>
                     </table>
                  </div>
               </div>
               <!-- -->
            </div>
         </div>
      </div>
   </div>
</div>
