<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= EatsChallenges.default_challenge_type_to_name[@challenge.type] %>
</p>

<p>
  <b>Name:</b>
  <%= @challenge.name %>
</p>

<p>
  <b>Description:</b>
  <%= @challenge.description %>
</p>

<% if @challenge.type == 'checkin' %>
<p>
  <b>Visits:</b>
  <%= @challenge.data.visits %>
</p>
<% elsif @challenge.type == 'lottery'%>
<p>
  <b>Odds:</b>
  <%= @challenge.data.odds %>
</p>
<% end %>

<p>
  <b>Points:</b>
  <%= @challenge.points %>
</p>

<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
