<p id="notice">
	<%= notice %>
</p>
<div class="content row">
	<div class="span15">
	<p>
		<b>Type:</b>
		<%= ChallengeType.value_to_name[@challenge.type.value][I18n.locale] %>
	</p>
	<p>
		<b>Name:</b>
		<%= @challenge.name %>
	</p>
	<p>
		<b>Description:</b>
		<%= @challenge.description %>
	</p>
	<% if @challenge.type.value == 'vip' %>
	<p>
		<b>Visits:</b>
		<%= @challenge.data.visits %>
	</p>
	<% end %>
	<p>
		<b>Points:</b>
		<%= @challenge.points %>
	</p>
	</div>
</div>
<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %> 