<% content_for :link do %>
<link rel="stylesheet" href="/javascripts/desktop/css/pages/business/reports.css"/>
<% end %>
<% content_for :script do %>
<script type="text/javascript" src="/javascripts/desktop/src/base.js"></script>
<!-- -->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="/javascripts/desktop/lib/Highcharts-2.2.5/js/highcharts.js" ></script>
<script type="text/javascript" src="/javascripts/desktop/lib/Highcharts-2.2.5/js/modules/exporting.js"></script>
<script type="text/javascript" src="/javascripts/desktop/src/business/analytics_highcharts.js"></script>
<% end %>
<div class="main">
   <div class="main-inner">
      <div class="container">
         <div class="row">
            <div class="span12">
               <div class="widget big-stats-container">
                  <div class="widget-content">
                     <div id="big_stats" class="cf">
                        <div class="stat">
                           <h4>People in your loyalty program</h4>
                           <span class="value"><%= @customers_total %></span>
                        </div>
                        <!-- .stat -->
                        <div class="stat">
                           <h4>New customers in the last 2 weeks</h4>
                           <span class="value"><%= @new_customers_total %></span>
                        </div>
                        <div class="stat">
                           <h4># of purchases in the last 2 months</h4>
                           <span class="value"><%= @purchases_total %></span>
                        </div>
                        <div class="stat">
                           <h4>Revenue in the last 2 months</h4>
                           <span class="value"><%= @revenue_total %></span>
                        </div>
                     </div>
                     <div id="big_stats" class="cf">
                        <div class="stat">
                           <h4>Total rewards redeemed</h4>
                           <span class="value"><%= @rewards_redeemed_total %></span>
                        </div>
                        <!-- .stat -->
                        <div class="stat">
                           <h4>Rewards redeemed in the last 2 months</h4>
                           <span class="value"><%= @new_rewards_redeemed_total %></span>
                        </div>
                        <div class="stat">
                           <h4>Total prizes redeemed</h4>
                           <span class="value"><%= @prizes_redeemed_total %></span>
                        </div>
                        <div class="stat">
                           <h4>Prizes redeemed in the last 2 months</h4>
                           <span class="value"><%= @new_prizes_redeemed_total %></span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="span12">
               <div class="widget">
                  <div class="widget-header">
                     <i class="icon-user"></i>
                     <h3>Total Customers</h3>
                  </div>
                  <div class="widget-content">
                     <div id="total_customers">
                        &nbsp;
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="span12">
               <div class="widget">
                  <div class="widget-header">
                     <i class="icon-shopping-cart"></i>
                     <h3>Purchases</h3>
                  </div>
                  <div class="widget-content">
                     <div id="purchases_line_chart">
                        &nbsp;
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="span12">
               <div class="widget">
                  <div class="widget-header">
                     <i class="icon-shopping-cart"></i>
                     <h3>Purchases</h3>
                  </div>
                  <div class="widget-content">
                     <div id="purchases_line_chart_amount">
                        &nbsp;
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="span12">
               <div class="widget">
                  <div class="widget-header">
                     <i class="icon-qrcode"></i>
                     <h3>Challenges</h3>
                  </div>
                  <div class="widget-content">
                     <div id="challenges_line_chart">
                        &nbsp;
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="span12">
               <div class="widget">
                  <div class="widget-header">
                     <i class="icon-qrcode"></i>
                     <h3>Challenges</h3>
                  </div>
                  <div class="widget-content">
                     <div id="challenges_pie_chart">
                        &nbsp;
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
