<% content_for :link do %>
<% end %>
<div style="display:none;">
   <div id="price_per_point">
      <%= current_merchant.reward_model.price_per_point %>
   </div>
   <div id="rebate_rate">
      <%= current_merchant.reward_model.rebate_rate %>
   </div>
</div>
<%= simple_form_for @customer_reward, :html => { :class => 'form-horizontal' } do |f| %>
<fieldset>
   <%= f.input :type_id, :collection => CustomerRewardType.values[current_merchant.type.value][I18n.locale], :input_html=>{:class => "input-xlarge"} %>
   <%= f.input :title, :input_html=>{:class => "input-xlarge"} %>
   <%= f.input :price, :input_html=>{:class => "input-large"} %>
   <%= f.input :points, :input_html=>{:class => "input-large"} %>
   <%= f.input :mode, :collection => CustomerReward::Modes, :input_html=>{:class => "input-large"} %>
   <%= f.input :venue_ids, :collection => current_merchant.venues.collect{ |p| [p.display_name, p.id, ] }, :as => :check_boxes, :checked => @venue_ids, :input_html=>{:class => "input-large checkbox"}  %>
   <br />
   <div class="form-actions">
      <%= f.button :submit , "Save", :class => 'btn btn-primary' %>
   </div>
   <!-- /form-actions -->
</fieldset>
<% end %>
