<h1>Listing Rewards</h1>

<div class="content row">
	<% @venues.each do |venue| %>
	<div><%= venue.name %></div>
	<% venue.customer_rewards.each do |customer_reward| %>
	<div>
		<div><%= link_to customer_reward.title, customer_reward_path(customer_reward) %></div>
		<div><%= link_to 'Edit', edit_customer_reward_path(customer_reward) %></div>
		<div><%= link_to 'Destroy', customer_reward_path(customer_reward), :confirm => 'Are you sure?', :method => :delete %></div>
	</div>
	<% end %>
	<% end %>
</div>

<%= link_to 'New Reward', new_customer_reward_path %>
<% if current_merchant.status == :pending %>
 | <%= link_to 'Continue Setup', setup_path %>
<% end %>
