<% content_for :link do %>
<% end %>
<% content_for :script do %>
<script type="text/javascript" src="/javascripts/desktop/src/business/base.js"></script>
<% end %>
<div class="main">
   <div class="main-inner">
      <div class="container">
         <div class="row">
            <div class="span3">
               <div class="widget widget-table action-table">
                  <div class="widget-header">
                     <i class="icon-map-marker"></i>
                     <h3>Venues (<%= link_to("Show All", :controller => "customer_rewards") %>)</h3>
                  </div>
                  <div class="widget-content">
                     <table class="table table-striped table-bordered">
                        <tbody>
                           <% @venues.each do |venue| %>
                           <tr>
                              <td class="td-description"><%= venue.name %></td>
                              <td class="td-value">
                              <!-- -->
                              <% if @display != "venue" || venue.id != @venue.id %>
                              <%= link_to("Get Rewards", :controller => "customer_rewards", :display => "venue", :venue_id => venue.id) %>
                              <!-- -->
                              <% else %>
                              <%= link_to("Get Rewards", {:controller => "customer_rewards", :display => "venue", :venue_id => venue.id}, :class => "disabled") %>
                              <!-- -->
                              <% end %>
                              <!-- -->
                              </td>
                           </tr>
                           <% end %>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            <div class="span9">
               <% if @display != "venue" %>
               <% rewards = @customer_rewards %>
               <% title = "Merchant Rewards Catalog" %>
               <% else %>
               <% rewards = @venue.customer_rewards %>
               <% title = "Rewards for " + @venue.name %>
               <% end %>
               <div class="widget widget-table action-table">
                  <div class="widget-header">
                     <i class="icon-gift"></i>
                     <h3><%= title %> (<%= link_to 'New Reward', new_customer_reward_path %><% if current_merchant.status == :pending %> | <%= link_to 'Continue Setup', setup_path %><% end %>)</h3>
                  </div>
                  <div class="widget-content">
                     <table class="table table-striped table-bordered">
                        <tbody>
                           <% rewards.each do |customer_reward| %>
                           <tr>
                              <td><%= customer_reward.title %></td>
                              <td class="td-actions">
                              <!-- -->
                              <%= link_to edit_customer_reward_path(customer_reward), :class=>"btn btn-small btn-warning", :title=>"print" do %>
                              <!-- -->
                              <i class="btn-icon-only icon-edit"></i>
                              <!-- -->
                              <% end %>
                              <%= link_to customer_reward_path(customer_reward), :data => { :confirm => 'Are you sure?' }, :method => :delete, :class=>"btn btn-small", :title=>"delete" do %>
                              <!-- -->
                              <i class="btn-icon-only icon-remove"></i>
                              <!-- -->
                              <% end %>
                              <!-- -->
                              </td>
                           </tr>
                           <% end %>
                        </tbody>
                     </table>
                  </div>
               </div>
               <!-- -->
            </div>
         </div>
      </div>
   </div>
</div>
