<%= simple_form_for [@merchant, @deal], :html => {:novalidate => true} do |f| %>
	<% if @deal.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

		<ul>
			<% @deal.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<%= f.input :title %>
	<%= f.input :location %>
	<%= f.input :photo_urls, :as => :text %>
	<%= f.input :description, :as => :text %>
	<%= f.input :highlights, :as => :text %>
	<%= f.input :details, :as => :text %>
	<%= f.input :start_date, :as => :date, :order => [:day, :month, :year] %>
	<%= f.input :end_date, :as => :date, :order => [:day, :month, :year] %>
	<%= f.input :expiry_date, :as => :date, :order => [:day, :month, :year] %>
	<%= f.input :max_per_person %>
	<%= f.input :max_limit %>

	<%= f.simple_fields_for :subdeals do |builder| %>
		<%= render "subdeal_fields", :f => builder %>
	<% end %>
	<p><%= link_to_add_fields "Add Subdeal", f, :subdeals %></p>
	
	<%= f.simple_fields_for :referral_subjects do |builder| %>
		<%= render "referral_subject_fields", :f => builder %>
	<% end %>
	<p><%= link_to_add_fields "Add Referral Subject", f, :referral_subjects %></p>
	<%= f.button :submit %>
<% end %> 