<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta http-equiv="Content-type" content="text/html; charset=utf-8">
      <%= yield :meta %>
      <!-- iPad/iPhone specific css below, add after your main css >
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;" />
      <link rel="stylesheet" media="only screen and (max-device-width: 1024px)"
      href="ipad.css" type="text/css" />
      <link rel="stylesheet" media="only screen and (max-device-width: 480px)"
      href="iphone.css" type="text/css" />
      <link rel="stylesheet" href="css/twitter-bootstrap-c52368d/bootstrap/css/bootstrap-responsive.min.css"/>
      -->
      <title>KICKBAK</title>
      <link rel="shortcut icon" href="http://files.getkickbak.com/v1/favicon.jpg"/>
      <link rel="stylesheet" href="/javascripts/desktop/css/twitter-bootstrap-c52368d/bootstrap/css/bootstrap.min.css"/>
      <link rel="stylesheet" href="/javascripts/desktop/lib/jquery-ui-1.8.20.custom/css/ui-lightness/jquery-ui-1.8.20.custom.css"/>
      <link rel="stylesheet" href="/javascripts/desktop/css/common.css"/>
      <!--[if lt IE 9]>
      <link rel="stylesheet" href="/javascripts/desktop/css/common-ie8.css"/>
      <![endif]-->
      <%= yield :link %>
      <%= csrf_meta_tag %>
   </head>
   <body class="homepage">
      <div id="page-background-top">
         <img src="http://files.getkickbak.com/v1/headerimage21.jpg">
      </div>
      <div id="page-background-bottom">
         <img src="http://files.getkickbak.com/v1/contentbg.png">
      </div>
      <div id="page-background">
         <img src="http://files.getkickbak.com/v1/contentbg.png">
      </div>
      <div class="navbar navbar-fixed-top">
         <div class="navbar-inner">
            <div class="container">
               <a class="brand" href="/">&#160;</a>
               <ul class="nav pull-right">
                  <li><a href="/sign_in">Sign In</a></li>
               </ul>
               <ul class="nav pull-right">
                  <li><a href="/add_business">For Businesses</a></li>
               </ul>
            </div>
         </div>
      </div>
      <!--/navbar-->
      <div name="top" class="container">
         <div class="alert alert-warning fade hide">
            <a class="close">x</a>
         </div>
         <div class="alert alert-error fade hide">
            <a class="close">x</a>
         </div>
      </div>
      <%= yield %>
      <!-- Footer -->
      <div class="navbar navbar-fixed-bottom">
         <div class="navbar-inner">
            <div class="container">
               <ul class="nav pull-left">
                  <li><a href="/">&copy; Copyright KICKBAK 2013</a></li>
               </ul>
               <ul class="nav pull-right">
                  <li><a href="/privacy">Privacy</a></li>
                  <li><a href="/terms">Terms of Use</a></li>
                  <li><a href="/contact_us">Contact Us</a></li>
               </ul>
            </div>
         </div>
      </div>
      <!-- Le javascript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script type="text/javascript" src="/javascripts/desktop/lib/jquery-ui-1.8.20.custom/js/jquery-1.7.2.min.js"></script>
      <script type="text/javascript" src="/javascripts/desktop/lib/jquery-ui-1.8.20.custom/js/jquery-ui-1.8.20.custom.min.js"></script>
      <script type="text/javascript" src="/javascripts/desktop/css/twitter-bootstrap-c52368d/bootstrap/js/bootstrap.min.js"></script>
      <%= yield :script %>
   </body>
</html>