<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;" />
      	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
      	<meta property="fb:admins" content="725565520"/>
      	<meta property="fb:app_id" content="197968780267830"/>
      	<!-- iPad/iPhone specific css below, add after your main css >
     	<link rel="stylesheet" media="only screen and (max-device-width: 1024px)"
      	href="ipad.css" type="text/css" />
      	<link rel="stylesheet" media="only screen and (max-device-width: 480px)"
      	href="iphone.css" type="text/css" />
      	-->
      	<!-- If you application is targeting iOS BEFORE 4.0 you MUST put json2.js
      	from http://www.JSON.org/json2.js into your www directory and include it
      	here -->
      	<!--
      	<script type="text/javascript" charset="utf-8"
      	src="lib/phonegap.0.9.6.min.js"></script>
      	<script type="text/javascript"
      	src="http://192.168.0.52:8080/target/target-script-min.js#anonymous"></script>
      	-->
      	<script type="text/javascript" charset="utf-8">
         	// If you want to prevent dragging, uncomment this section
         	/*
          	function preventBehavior(e)
          	{
          	e.preventDefault();
          	};
          	document.addEventListener("touchmove", preventBehavior, false);
          	*/

         	/* If you are supporting your own protocol, the var invokeString will
          	* contain any arguments to the app launch.
          	see
          	http://iphonedevelopertips.com/cocoa/launching-your-own-application-via-a-custom-url-scheme.html
          	for more details -jm */
         	/*
          	function handleOpenURL(url)
          	{
          	// TODO: do something with the url passed in.
          	}
          	*/

         	function onBodyLoad()
         	{
            	document.addEventListener("deviceready", function(args)
            	{
            	}, false);
         	}
      	</script>
      	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Just For My Friends</title>
		<%= stylesheet_link_tag :all %>
		<%= javascript_include_tag :defaults %>
		<link rel="stylesheet/less" href="/javascripts/desktop/lib/twitter-bootstrap-0f11410/lib/bootstrap.less"/>
      	<link rel="stylesheet/css" href="/javascripts/desktop/lib/jquery-ui-1.8.16.custom/css/south-street/jquery-ui-1.8.16.custom.css"/>
      	<script type="text/javascript" src="/javascripts/desktop/less-1.1.3.min.js"></script>
      	<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places&amp;sensor=true"></script>
      	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
      	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
      	<script type="text/javascript" src="/javascripts/desktop//lib/fridek-gmap-f5658d5/jquery.gmap.min.js"></script>
      	<script type="text/javascript" src="/javascripts/desktop//lib/Slides/source/slides.min.jquery.js"></script>
      	<script type="text/javascript" src="/javascripts/desktop/lib/carhartl-jquery-cookie-575a419/jquery.cookie.js"></script>
      	<script type="text/javascript" src="/javascripts/desktop/src/common.js"></script>
      	<%= yield :script %>
		<%= csrf_meta_tag %> 
	</head>
	<body>
		<div id="fb-root"></div>
		<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
		<table class="noWrap topbar container">
			<tr class="fill fixed">
				<td class=""><h3><a href="index.html">Just For My Friends</a></h3></td>
				<td class=" active"><a href="index.html">Home</a></td>
				<td class=""><a href="#about">About</a></td>
				<td style="width:100%;"><a>&#160;</a></td>
				<% if signed_in? %>
				<td id="fb_login_img" class=""><img src="http://graph.facebook.com/725565520/picture?type=square"/></td>
				<td class=""><a href="">Account</a></td>
				<td class=""><%= link_to "Sign out", sign_out_path, :method => :delete %></td>
				<% else %>
				<td id="fb_login"><fb:login-button perms="email,user_birthday,publish_stream" on-login="facebook_onLogin(true);" size="medium" background="dark" length="long" registration-url="https://developers.facebook.com/docs/plugins/registration"></fb:login-button></td>
				<% end %>
			</tr>
		</table>
		<div name="top" class="container">
		<%= yield %>
		<footer>
            <p>
               &copy;Just For My Friends 2011
            </p>
         </footer>
         </div>
	</body>
</html>
